<link rel="stylesheet" href="{{ asset('remark/global/vendor/flag-icon-css/flag-icon.css') }}">

<script>
    function changeStation() {
        r = confirm("Le panier sera vidé si vous changez la station");
        if (r === true) {
            $("#form-station").submit();
        }

    }

    $(document).ready(function () {
        var route = $('#cp').val();
        if (route != null) {
            if (route == "homepage_frontend") {
                $('#homepage').addClass("active");
                //$('#homepage_link').css('color','white')
            } else if (route == "list_produit") {
                $('#prods').addClass("active");
                // $('#prods_link').css('color','white')
            } else if (route == "contact_us") {
                $('#contact').addClass("active");
                //$('#contact_link').css('color','white');
            }


        }
    });
</script>
<style>

    .navbar-top{
        padding-top:20px !important;
    }
    .miniCartFooter {
        background: #F7F9FA;
    }

    @media (min-width: 980px) and (max-width: 993px) {
        .cartMenu a.dropdown-toggle, .cartMenu a#cart-sidebar-toggle {
            font-size: 0px !important;
        }
    }

    @media (min-width: 768px) {
        .navbar-tshop ul.nav li.dropdown ul.dropdown-menu {
            max-height: 500px;
            overflow-y: auto;
        }
    }
    @media (max-width: 768px) {
        .navbar-top{
            padding-top:0px !important;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .navbar-nav > li > a {
            font-size: 12px;
            font-family: 'roboto-bold', sans-serif;
            line-height: 12px;
            font-weight: 600;
        }

        .cartMenu a.dropdown-toggle, .cartMenu a#cart-sidebar-toggle {
            font-size: 15px;
        }

        .userMenu > li > a {
            font-size: 11px;
        }
    }


</style>

    <div class="navbar navbar-tshop navbar-fixed-top megamenu my_nav_bar container " role="navigation"
         style="padding-left: 2%;padding-right:2%;">

        <div class="navbar-top " >
            <div class="container">
                <div class="row">
                    <div class="col-lg-1   col-md-1  col-sm-2   hidden-xs   "
                         style="text-align: center;padding-right: 10px">
                        <a href="{{ path('homepage_frontend') }}" class="hidden-xs ">
                            <img class="img_logo" src="{{ asset('assets/img/logo_totalenergies.png') }}" alt="logo total"
                            >
                        </a>
                    </div>

                    {#
                    style="border-bottom: 1px solid rgba(222, 222, 222, 0.6);min-height: 40px"
                        <div class="col-lg-4 col-sm-5 col-xs-6 col-md-5 hidden" >
                        <div class="pull-left ">
                            <ul class="userMenu ">
                                <li class="dropdown dropdown_station">
                                    <form   action="{{ path("setStation") }}">
                                        <select class="custom_select" id="stationList" name="station_id"
                                                style="margin-left: -4px; color:#374649"
                                                onchange="this.form.submit()">
                                            <option></option>
                                            {% for key, station in stations %}
                                                <optgroup  style=" color:#374649 " label="{{ key }}">
                                                    {% for s in station %}
                                                        <option value="{{ s.id }}"
                                                                {% if app.session.get("station_id","") == s.id %} selected
                                                                {% endif %}>{{ s.nom }}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            {% endfor %}

                    </select>
                    </form>
                    </li>

                    </ul>
                </div>
            </div>
            style="border-bottom: 0.5px solid rgba(222, 222, 222, 0.6);min-height: 30px;"
                    #}

                    <div class="col-lg-11 col-sm-10 col-xs-12 col-md-10  ">
                        <div class="pull-left">
                            <ul class="userMenu">
                                <li>
                                    <a class="hidden-xs " href="{{ path('homepage_frontend') }}">
                                        <span class="hidden-xs titre_7_menu">{% if app.session.get("pays") %}{{ app.session.get("pays").webSiteTitle }}{% endif %}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="pull-right">

                            <ul class="userMenu">
                                <li class="dropdown dropdown_station" style="padding-top: -1px">
                                    <a {% if station %} href="{{ path('choosestation') }}" {% endif %}   style="text-transform:none;background: -webkit-linear-gradient(left, rgba(239, 111, 0), rgba(237, 0, 0)) !important;
                                               -webkit-background-clip: text !important;
                                                 -webkit-text-fill-color: transparent !important;">
                                        <i class="fa fa-map-marker"></i>&nbsp;{% if station %}{{ station.nom }}{% else %} {{ "Select Station" | trans({}, 'messages') }}{% endif %} <i class="fa  fa-sort-desc"></i>
                                    </a>
                                    {#
                                      <a href="#" onclick="showSelectStation()" style="text-transform:none;background: -webkit-linear-gradient(left, rgba(239, 111, 0), rgba(237, 0, 0)) !important;
                                                   -webkit-background-clip: text !important;
                                                     -webkit-text-fill-color: transparent !important;"> <i
                                                class="fa fa-map-marker"></i>&nbsp;{% if station %}{{ station.nom }}{% else %} {{ "Select Station" | trans }}{% endif %}
                                    </a>
                                    #}
                                </li>



                                <li class="dropdown hasUserMenu">

                                    <a style="text-transform: none !important;" class="dropdown-toggle"
                                       data-toggle="dropdown" aria-expanded="true">

                                        <span class="hidden-xs"> {{ "Contact" | trans({}, 'messages') }} </span>
                                        <i class="fa fa-info-circle hide visible-xs "></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <br>
                                        {% if station and station.adresse %}
                                            <li>
                                                <a href=""><i class="fa fa-map-marker"></i>
                                                    <span class="hidden-xs txtnbrr "> {{ "Adresse" | trans({}, 'messages') }}: </span> {{ station.adresse }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if station and station.gerant %}
                                            <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{ station.gerant.email }}" target="_blank" ><i class="fa fa-envelope"></i>
                                                    <span class="hidden-xs"> {{ "Email" | trans({}, 'messages') }}: </span>
                                                    {{ station.gerant.email }}</a>
                                            </li>
                                        {% endif %}
                                        {% if  station and station.tel %}
                                            <li><a href=""><i class="fa fa-phone"></i>
                                                    <span class="hidden-xs"> {{ "Téléphone" | trans({}, 'messages') }}: </span>
                                                    {{ station.tel }}</a></li>
                                        {% endif %}
                                        <br>
                                    </ul>
                                </li>

                                {% if  app.user %}
                                    <li><a style="text-transform: none !important;" href="{{ path("compte") }}">
                                            <span class="hidden-xs"> {{ "Mon Compte" | trans({}, 'messages') }} </span>
                                            <i class="glyphicon glyphicon-user hide visible-xs "></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a style="text-transform: none !important;" href="{{ path("logout_user") }}">
                                            <span class="hidden-xs">{{ "Déconnexion" | trans({}, 'messages') }}</span>
                                            <i class="glyphicon glyphicon-log-out hide visible-xs "></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li><a style="text-transform: none !important;"
                                           href="{{ path('fos_user_security_login') }}">
                                            <span class="hidden-xs">{{ "Se Connecter"| trans({}, 'messages') }} </span>
                                            <i class="glyphicon glyphicon-user hide visible-xs "></i>
                                        </a>
                                    </li>
                                    <li class="hidden-xs">
                                        <a style="text-transform: none !important;"
                                           href="{{ path('fos_user_registration_register') }}">{{ "Créer nouveau compte"|trans({}, 'messages') }}</a>
                                    </li>
                                {% endif %}
                                <li class="hidden-xs">
                                    <a style="color: #ED0000;text-transform: none !important;" {% if app.session.get("pays") %}
                                        href="{{ app.session.get("pays").webSiteUrlFiliale }}"{% endif %} target="_blank">{% if app.session.get("pays") %}{{ app.session.get("pays").webSiteNameFiliale }}{% endif %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.navbar-top-->
        <hr class="hidden-xs  line" style="margin-right: 30px">
        <hr class="hidden-lg hidden-sm hidden-md linexs">

        <div class="container">
            <div class="navbar-header">

                <a href="{{ path('homepage_frontend') }}" class="hidden-lg hidden-sm hidden-md">
                    <img src="{{ asset('assets/img/logo_totalenergies_mobile.png') }}" alt="logo total"
                         style="  width: 64px;">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                        style="background: #ffffff !important;float:right;margin-right: 10px;"><span
                            class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                            class="icon-bar">
                </span> <span class="icon-bar"> </span>
                </button>
                <a href="{{ path("panier") }}">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                                class="fa fa-shopping-cart colorWhite "> </i> <span
                                class="cartRespons colorWhite">({{ panier|length }})

                        </span>
                    </button>
                </a>

                {% if  app.user %}
                    <a href="{{ path("favoris") }}" class="dropdown-toggle" data-toggle="dropdown">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                                    class="glyphicon glyphicon-heart colorWhite "  > </i> <span
                                    class="cartRespons colorWhite">({{ favoris|length }})

                        </span>
                        </button>
                    </a>
                {% endif %}


                <!-- this part for mobile -->
                <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                    <div class="input-group">
                        <button class="btn  getFullSearch" type="button" style="background-color: #ffffff;color: #545252;">
                            <i class="fa fa-search"> </i>
                        </button>
                    </div>
                    <!-- /input-group -->
                </div>


            </div>


            <!--/.navbar-cart-->
            <li class="navbar-collapse collapse">

                <ul class="nav navbar-nav">

                    {#
                                       {% if categories["food"]|length > 0 %}
                                           <li class="dropdown megamenu-fullwidth">
                                              if category equal 1 then

                                                   {% if categories["food"]|length == 1 &  %}

                                                   <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                       {{ "Alimentaire" | trans }}
                                                       <b class="caret"> </b> </a>
                                                   <ul class="dropdown-menu">
                                                       <li class="megamenu-content">
                                                           <!-- megamenu-content -->

                                                           {% for key,category in categories["food"] %}
                                                               <div class="col-lg-{{ (12 /categories["food"]|length)|round }}  col-sm-{{ (12 /categories["food"]|length)|round }} col-md-{{ (12 /categories["food"]|length)|round }}">
                                                                   <ul class=" ">
                                                                       <li>
                                                                           <a href="{{ path("list_produit") }}?categorie_id={{ category.id }}">
                                                                               <p>
                                                                                   <strong>

                                                                                       {% if app.request.getLocale()  == 'en' %}{{ category.nomEn }}{% else %}{{ category.nom }}{% endif %}


                                                                                   </strong></p>
                                                                           </a>
                                                                       </li>
                                                                       {% for sub_category in category.sousCategories %}
                                                                           <li>
                                                                               <a href="{{ path("list_produit") }}?sub_categorie_id={{ sub_category.id }}">


                                                                                   {% if app.request.getLocale()  == 'en' %}{{ sub_category.nomEn }}{% else %} {{ sub_category.nom }}{% endif %}

                                                                               </a>
                                                                           </li>
                                                                       {% endfor %}

                                                                   </ul>
                                                               </div>
                                                           {% endfor %}

                                                       </li>
                                                   </ul>
                                               {% else %}

                                                   <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                       {{ "Alimentaire" | trans }}
                                                       <b class="caret"> </b> </a>
                                                   <ul class="dropdown-menu">
                                                       <li class="megamenu-content">
                                                           <!-- megamenu-content -->

                                                           {% for key,category in categories["food"] %}
                                                               <div class="col-lg-{{ (12 /categories["food"]|length)|round }}  col-sm-{{ (12 /categories["food"]|length)|round }} col-md-{{ (12 /categories["food"]|length)|round }}">
                                                                   <ul class=" ">
                                                                       <li>
                                                                           <a href="{{ path("list_produit") }}?categorie_id={{ category.id }}">
                                                                               <p>
                                                                                   <strong>

                                                                                       {% if app.request.getLocale()  == 'en' %}{{ category.nomEn }}{% else %}{{ category.nom }}{% endif %}


                                                                                   </strong></p>
                                                                           </a>
                                                                       </li>
                                                                       {% for sub_category in category.sousCategories %}
                                                                           <li>
                                                                               <a href="{{ path("list_produit") }}?sub_categorie_id={{ sub_category.id }}">


                                                                                   {% if app.request.getLocale()  == 'en' %}{{ sub_category.nomEn }}{% else %} {{ sub_category.nom }}{% endif %}

                                                                               </a>
                                                                           </li>
                                                                       {% endfor %}

                                                                   </ul>
                                                               </div>
                                                           {% endfor %}

                                                       </li>
                                                   </ul>
                                               {% endif %}



                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                {{ "Alimentaire" | trans }}
                                <b class="caret"> </b> </a>
                            <ul class="dropdown-menu">
                                <li class="megamenu-content">
                                    <!-- megamenu-content -->

                                    {% for key,category in categories["food"] %}
                                        <div class="col-lg-{{ (12 /categories["food"]|length)|round }}  col-sm-{{ (12 /categories["food"]|length)|round }} col-md-{{ (12 /categories["food"]|length)|round }}">
                                            <ul class=" ">
                                                <li>
                                                    <a href="{{ path("list_produit") }}?categorie_id={{ category.id }}">
                                                        <p>
                                                            <strong>

                                                                {% if app.request.getLocale()  == 'en' %}{{ category.nomEn }}{% else %}{{ category.nom }}{% endif %}


                                                            </strong></p>
                                                    </a>
                                                </li>
                                                {% for sub_category in category.sousCategories %}
                                                    <li>
                                                        <a href="{{ path("list_produit") }}?sub_categorie_id={{ sub_category.id }}">


                                                            {% if app.request.getLocale()  == 'en' %}{{ sub_category.nomEn }}{% else %} {{ sub_category.nom }}{% endif %}

                                                        </a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    {% endfor %}

                                </li>
                            </ul>

                        </li>
                    {% endif %}
                    {% if categories["auto"]|length > 0 %}
                        <li class="dropdown megamenu-fullwidth ">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                {{ "Produits Auto" | trans }}
                                <b class="caret"> </b> </a>
                            <ul class="dropdown-menu">
                                <li class="megamenu-content">
                                    <!-- megamenu-content -->
                                    {% for key,category in categories["auto"] %}

                                        <div class="col-lg-{{ (12 /categories["auto"]|length)|round }}  col-sm-{{ (12 /categories["auto"]|length)|round }} col-md-{{ (12 /categories["auto"]|length)|round }}">
                                            <ul class=" ">
                                                <li>
                                                    <a href="{{ path("list_produit") }}?categorie_id={{ category.id }}">
                                                        <p>
                                                            <strong>

                                                                {% if app.request.getLocale()  == 'en' %}{{ category.nomEn }}{% else %} {{ category.nom }}{% endif %}

                                                            </strong></p>
                                                    </a>
                                                </li>
                                                {% for sub_category in category.sousCategories %}
                                                    <li>
                                                        <a href="{{ path("list_produit") }}?sub_categorie_id={{ sub_category.id }}">
                                                            {% if app.request.getLocale()  == 'en' %}{{ sub_category.nomEn }}{% else %} {{ sub_category.nom }}{% endif %}

                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endfor %}
                                </li>
                            </ul>

                        </li>
                    {% endif %}
                    {% if categories["clothing"]|length > 0 %}
                        <li class="dropdown megamenu-fullwidth ">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                {{ "Vetements" | trans }}
                                <b class="caret"> </b> </a>
                            <ul class="dropdown-menu">
                                <li class="megamenu-content">
                                    <!-- megamenu-content -->
                                    {% for key,category in categories["clothing"] %}
                                        <ul class=
                                            "col-lg-{{ (12 /categories["clothing"]|length)|round }}
                                        col-sm-{{ (12 /categories["clothing"]|length)|round }}
                                        col-md-{{ (12 /categories["clothing"]|length)|round }}">
                                            <li>
                                                <a href="{{ path("list_produit") }}?categorie_id={{ category.id }}">
                                                    <p>
                                                        <strong>
                                                            {% if app.request.getLocale()  == 'en' %}{{ category.nomEn }}{% else %} {{ category.nom }}{% endif %}

                                                        </strong></p>
                                                </a>
                                            </li>
                                            {% for sub_category in category.sousCategories %}
                                                <li>
                                                    <a href="{{ path("list_produit") }}?sub_categorie_id={{ sub_category.id }}">
                                                        {% if app.request.getLocale()  == 'en' %}{{ sub_category.nomEn }}{% else %} {{ sub_category.nom }}{% endif %}

                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                    {% endfor %}
                                </li>
                            </ul>

                        </li>
                    {% endif %}
 #}

                    {#  {% for key,category in categories["other"] %} #}
                    {% for key,category in categories %}
                        <li class="dropdown megamenu-30width ">
                            <a data-toggle="dropdown" class="dropdown-toggle"
                               href="{{ path("list_produit") }}?categorie_id={{ category.id }}">
                                {% if app.session.get("pays").FrontLanguage  == 'en' or app.session.get("pays").FrontLanguage  == 'EN' %}{{ category.nomEn }}{% else %} {{ category.nom }}{% endif %}

                                <b class="caret"> </b>

                            </a>
                            <ul class="dropdown-menu"  style="box-shadow: 3px 3px 3px lightgrey;">
                                <li class="megamenu-content ">
                                    <ul class="col-lg-12  col-sm-12 col-md-12 unstyled noMarginLeft newCollectionUl">

                                        <li style="margin-top:16px ">
                                            <a href="{{ path("list_produit") }}?categorie_id={{ category.id }}">
                                                {{  "all" | trans }}
                                                {% if app.session.get("pays").FrontLanguage  == 'en' or app.session.get("pays").FrontLanguage  == 'EN' %}{{ category.nomEn }}{% else %} {{ category.nom }}{% endif %}

                                            </a>
                                        </li>
                                        {% for sub_category in category.sousCategories %}
                                            <li style="margin-top:16px ">
                                                <a href="{{ path("list_produit") }}?sub_categorie_id={{ sub_category.id }}">
                                                    {% if  app.session.get("pays").FrontLanguage  == 'en' or app.session.get("pays").FrontLanguage  == 'EN' %}{{ sub_category.nomEn }}{% else %} {{ sub_category.nom }}{% endif %}

                                                </a>
                                            </li>
                                        {% endfor %}

                                    </ul>

                                    {% if category.id == 8  and false %}
                                        <ul class="col-lg-9  col-sm-3 col-md-3  col-xs-4">
                                            <li><a class="newProductMenuBlock" href="product-details.html"> <img
                                                            class="img-responsive"
                                                            src="https://tn.jumia.is/cms/campaign-TN/2020/w15/W15_Protection_SX_TN_020420.jpg"
                                                            alt="product" style="width: 100%; max-height: 300px;"><span
                                                            class="ProductMenuCaption"> <i
                                                                class="fa fa-caret-right"> </i> {{ "Promotion"|trans }}
                                        </span>
                                                </a></li>
                                        </ul>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

                <!--

           <div class="dropdown cartMenu pull-right hidden-lg hidden-md hidden-sm">
                <div  class="input-group" style="margin-top: 5px">

                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                   aria-expanded="false" role="button">
                    {% if app.request.getLocale()  == 'en' %}EN{% elseif app.request.getLocale()  == 'fr' %}FR{% endif %}
                </a>
                <div class="dropdown-menu " >
                    <a class="dropdown-item" style="font-family: Roboto-Regular, sans-serif" href="{{ path('fr_en') }}?to=en" role="menuitem">
                        <span class="flag-icon flag-icon-gb"></span>EN</a><br>
                    <a class="dropdown-item" href="{{ path('fr_en') }}?to=fr" role="menuitem">
                        <span class="flag-icon flag-icon-fr"></span>FR</a>
                </div>
                </div>
            </div>
-->
                <!--- this part will be hidden for mobile version -->
                <div class="nav navbar-nav navbar-right hidden-xs">
                    <ul class="nav navbar-nav " style="float: right">

                        <li class="dropdown ">
                            {% if  app.session.get("pays") %}

                                {% if  app.session.get("pays").code =="mg" %}
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)"
                                       aria-expanded="false" role="button"  >
                                        <span style="border: 1px solid grey;border-radius: 15%;padding-top: -1px" class="flag-icon flag-icon-{% if  app.session.get("pays") %}{{ app.session.get("pays").code }}{% endif %}"></span>
                                    </a>
                                {% else %}
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)"
                                       aria-expanded="false" role="button"  >
                                        <span class="flag-icon flag-icon-{% if  app.session.get("pays") %}{{ app.session.get("pays").code }}{% endif %}"></span>

                                    </a>
                                {% endif %}

                            {% endif %}

                            <!--
                        <ul class="dropdown-menu" style="margin-top: -10px">
                            {% for p in pays %}
                                <li class="megamenu-content">
                                    <ul class=" ">
                                        <li>


                                               <a class="dropdown-item" style="font-family: Roboto-Regular, sans-serif"
                                               href="{{ path("homepage_frontend") }}?pays={{ p.code }}" role="menuitem">
                                                <span class="flag-icon flag-icon-{{ p.code }}"></span>{{ p.nom }}</a>



                                        </li>

                                    </ul>

                                </li>
                            {% endfor %}

                        </ul>

                        -->
                        </li>

                    </ul>


                    <div class="search-box" style="border-right: 1px solid white;float: left;">
                        <div class="input-group">
                            <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                        </div>
                        <!-- /input-group -->
                    </div>
                    {% if  app.user %}
                        <div class="dropdown cartMenu">
                            <a href="{{ path("favoris") }}" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-heart  hidden-lg" style="color: #df0c36"></i>

                                <span class="cartRespons">
                            <span class="nb-article">{{ favoris|length }}</span>
                             <i class="glyphicon glyphicon-heart hide visible-xs" style="color: #df0c36"></i>
                            {{ "Favoris"|trans }}
                        </span> <b class="caret"> </b>
                            </a>

                            <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4">
                                <div class="w100 miniCartTable scroll-pane" style="overflow-y: auto;">
                                    <table>
                                        <tbody>
                                        {% for key,fav in favoris %}
                                            <tr class="CartProduct" id='fav{{fav.produit.id}}'>
                                                <td style="width:40%" class="CartProductThumb">
                                                    <div>
                                                        <img style="  background-repeat: no-repeat;  background-size: contain" alt="{{ fav.produit.nom }}"
                                                             data-original="/uploads/produits/{{ fav.produit.image }}"
                                                             src="{% if fav.produit.image and fav.produit.image != "" %}/uploads/produits/{{ fav.produit.image }}
                                                         {% else %}{{ asset('/assets/img/default_t_e.jpg') }}{% endif %}">
                                                    </div>
                                                </td>
                                                <td style="width:30%">
                                                    <div class="CartDescription">
                                                        <h4>
                                                            <a style="font-size: 13px" href="{{ path('list_produit',{'keyword':fav.produit.nom}) }}" >{{fav.produit.nom}}</a>
                                                        </h4>
                                                        <div class="price">
												     <span>
													{{ formated_price(fav.produit.prix ,app.session.get('pays')) }}

													</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width:30%" class="delete">
                                                    <a title="Delete" onclick="deletefavoris({{ fav.produit.id }},{{key}})">
                                                        <i class="glyphicon glyphicon-trash fa-2x"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!--/.miniCartTable-->


                                <!--/.miniCartFooter-->

                            </div>
                            <!--/.dropdown-menu-->
                        </div>

                    {% endif %}






                    <div class="dropdown cartMenu">
                        <a href="{{ path("panier") }}" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-shopping-cart"> </i>
                            <span class="cartRespons">
                            <span class="nb-article">{{ panier|length }}</span>
                            {{ "Article"|trans }}{% if panier|length != 1 %}s{% endif %}
                            | <span class="total_price_cart_empty">0</span> {{ app.session.get("pays").devise }}
                        </span> <b class="caret"> </b>
                        </a>

                        <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4">
                            <div class="w100 miniCartTable scroll-pane" style="overflow-y: auto;">
                                <table>
                                    <tbody>
                                    {% set total_price = 0 %}
                                    {% for article in articles %}
                                        {% set nb_article = panier[article.id] %}
                                        <tr class="miniCartProduct product-{{ article.id }}">
                                            <td style="width:20%" class="miniCartProductThumb">
                                                <div><a href=""> <img class="lazy"
                                                                      alt="{{ article.nom }}"
                                                                      data-original="/uploads/produits/{{ article.image }}"
                                                                      src="{% if  article.image  and article.image != "" %}/uploads/produits/{{ article.image }}  {% elseif article.SousCategorie  and article.SousCategorie.image  and article.SousCategorie.image != "" %}/uploads/produits/{{ article.SousCategorie.image }}{% else %}{{ asset('/assets/img/default_t_e.jpg') }}{% endif %}">
                                                    </a>
                                                </div>
                                            </td>
                                            <td style="width:40%">
                                                <div class="miniCartDescription">
                                                    <h4>
                                                        <a href="">{{ article.nom }} </a>
                                                    </h4>
                                                    <div class="price">
                                                    <span style="color:#ED0000; font-size: 14px">
                                                        {{ formated_price(article.finalPrice["prix"],app.session.get("pays")) }}
                                                    </span>
                                                        {% if article.finalPrice["is_promo"] and article.numProduitPromo == 1 %}
                                                            <span class="old-price">
                                                            {{ formated_price(article.finalPrice["old_prix"],app.session.get("pays")) }}
                                                    </span>

                                                        {% elseif article.finalPrice["is_promo"] and article.prixPromo and article.prixPromo > 0 %}
                                                            <span class="old-price">
                                                            {{ formated_price(article.finalPrice["old_prix"],app.session.get("pays")) }}
                                                        </span>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width:10%" class="miniCartQuantity"><a> X {{ nb_article }} </a>
                                            </td>
                                            <td style="width:15%" class="miniCartSubtotal">
                                            <span>
                                            {{ formated_price(article.getTotalPrice(nb_article)["prix"],app.session.get("pays")) }}
                                            </span>
                                                {% if article.finalPrice["is_promo"] and nb_article >=   article.numProduitPromo %}
                                                    <span class="old-price">
                                                     {{ formated_price(article.getTotalPrice(nb_article)["old_prix"],app.session.get("pays")) }}
                                            </span>
                                                {% endif %}
                                            </td>
                                            {% set total_price = total_price +  article.getTotalPrice(nb_article)["prix"] %}
                                            <td style="width:5%" class="delete"
                                                onclick="deleteArticle({{ article.id }},{{ nb_article * article.prix }} )">
                                                <a style="font-size:21px !important;font-family: sans-serif;color: #374649;margin-left: 5px ">
                                                    <i class="glyphicon glyphicon-trash fa-xs"></i> </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--/.miniCartTable-->

                            <div class="miniCartFooter text-right">
                                {% if coupon and coupon != '' %}

                                    {% if coupon.type == 1 %}
                                        {% set total_price = total_price - coupon.montant %}
                                    {% elseif coupon.type == 2 %}
                                        {% set total_price = total_price / 100 *(100-coupon.pourcentage) %}
                                    {% endif %}
                                {% endif %}
                                <h3 class="text-right subtotal">{{ "Total" | trans }}: <span class="total_price_cart">
                                     {{ formated_price(total_price,app.session.get("pays"),false) }}
                                </span> {{ app.session.get("pays").devise }}
                                </h3>
                                <a class="btn btnvoirpanier" href="{{ path("panier") }}"> {{ "Voir panier"|trans }}</a>
                                <a class="btn btnvoirpayer" {% if panier|length > 0 and  app.user  %}href="{{ path("modereception") }}"
                                   {% else %}href="{{ path("panier") }}" {% endif %}> {{ "Commander"|trans }} </a>
                            </div>
                            <!--/.miniCartFooter-->

                        </div>
                        <!--/.dropdown-menu-->
                    </div>
                    <!--/.cartMenu-->

                    <!--/.language   -->


                    <!--/.language-->
                </div>
                <!--/.navbar-nav hidden-xs-->

            </li>
            <!--/.nav-collapse -->


        </div>
        <div class="search-full text-right" style="">
            <a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>
            <form action="{{ path("list_produit") }}" method="get">
                <div class="searchInputBox pull-right">
                    <input type="search" data-searchurl="keyword?=" name="keyword" placeholder={{ "Rechercher"|trans }}
                    class="search-input">
                    <button class="btn-nobg search-btn" type="submit"><span class="description"></span></button>
                </div>
            </form>

        </div>

        <div hidden style="height: 6px;background: linear-gradient(90deg,#fff,#fff 37.17%,#c5c6c7);"></div>

    </div>



{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/flag-icon.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/stflagiconcss/css/flag-icon.min.css') }}" />
{% endblock %}

