<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ asset('assets/ico/logo.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ asset('assets/ico/logo.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ asset('assets/ico/logo.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/ico/logo.png') }}">
    <link rel="shortcut icon" href="{{ asset('assets/ico/logo.png') }}">
    <title>{% block title %}TotalEnergies|Eboutique{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css?v25') }}" rel="stylesheet">

        <link href="{{ asset('assets/plugins/swiper-master/css/swiper.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('assets/css/totaltheme.css?v132') }}" rel="stylesheet">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


        <link rel="stylesheet" href="{{ asset('remark/global/vendor/select2/select2.css') }}?v4">

		<style>
			.pickmeup .pmu-instance .pmu-days * {
				width: 51px !important;
			}
		</style>
    {% endblock stylesheets %}
    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->
    <!-- Loading script asynchronously -->


    <script>
        paceOptions = {
            elements: true
        };
    </script>

    <script src="{{ asset('assets/js/pace.min.js') }}"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('assets/js/jquery/jquery-1.10.1.min.js') }}"></script>
</head>

<body style="font-family: Roboto-Regular, sans-serif; ">
{% if app.session.get("station_id","") == ""  or  true %}
    {# was  {% if app.session.get("station_id","") == ""  or true%} #}
        {{ render(controller('FrontendBundle:Default:modalStation')) }}
{% endif %}
<input type="text" value="{{ app.request.getLocale() }}" id="language"  style="display: none;">



<!-- Modal Login start -->
{% include 'FrontendBundle:Modals:loginModal.html.twig' %}

<!-- Modal Signup start -->
{% include 'FrontendBundle:Modals:registerModal.html.twig' %}


<!-- Fixed navbar start -->
{% render(controller('FrontendBundle:Panier:menu')) %}

<script type="text/javascript">
    var language = $("#language").val();
    console.log(language);
    var utag_data =
        {"site_name":"631397",
            "site_section":"1",
            "page_section":"transfer_dsb",
            "page_category":"",
            "page_subcategory":"",
            "page_name":"",
            "page_type":"",
            "env_type":"dev",
            "language":"1",
            "customer_id":"353",
            "car_type":"",
            "customer_firstname":"",
            "customer_lastname":"",
            "email_address":"",
            "phone_number":"",
            "city":""
        };
    if (language ==='en'){
        utag_data["language"]= "2" ;
    }else {
        utag_data["language"]= "1";
    }

</script>


<script type="text/javascript" >
    (function(a,b,c,d){
            a='https://tags.tiqcdn.com/utag/totalms/ms-eshop-station/prod/utag.js';
            b=document;
            c='script';
            d=b.createElement(c);
            d.src=a;
            d.type='text/java'+c;
            d.async=true;
            a=b.getElementsByTagName(c)[0];
            a.parentNode.insertBefore(d,a);
        }
    )();
</script>


{% block body %}

{% endblock %}




{% include 'FrontendBundle:Blocks:footer.html.twig' %}

{% block javascripts %}
    <!-- Le javascript
    ================================================== -->

    {#        <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>#}
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js?v3') }}"></script>    <!-- include  parallax plugin -->
    <script src="{{ asset('assets/plugins/swiper-master/js/swiper.jquery.min.js') }}"></script>
    <script>


        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.nextControl',
            prevButton: '.prevControl',
            keyboardControl: true,
            paginationClickable: true,
            slidesPerView: 'auto',
            autoResize: true,
            resizeReInit: true,
            spaceBetween: 0,
            freeMode: true
        });


    </script>

    <!-- include jqueryCycle plugin -->
    <script src="{{ asset('assets/js/jquery.cycle2.min.js') }}"></script>

    <!-- include easing plugin -->
    <script src="{{ asset('assets/js/jquery.easing.1.3.js') }}"></script>

    <!-- include  parallax plugin -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.parallax-1.1.js') }}"></script>

    <!-- optionally include helper plugins -->
    <script type="text/javascript" src="{{ asset('assets/js/helper-plugins/jquery.mousewheel.min.js') }}"></script>

    <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

    <script type="text/javascript" src="{{ asset('assets/js/jquery.mCustomScrollbar.js') }}"></script>

    <!-- include icheck plugin // customized checkboxes and radio buttons   -->
    <script type="text/javascript" src="{{ asset('assets/plugins/icheck-1.x/icheck.min.js') }}"></script>

    <!-- include grid.js // for equal Div height  -->
    <script src="{{ asset('assets/js/grids.js') }}"></script>

    <!-- include carousel slider plugin  -->
    <script src="{{ asset('assets/js/owl.carousel.min.js?v2') }}"></script>

    <!-- jQuery select2 // custom select
    was
         <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

     -->
    <script src="{{ asset('remark/global/vendor/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('remark/global/js/Plugin/select2.js') }}"></script>

    <!-- include touchspin.js // touch friendly input spinner component   -->
    <script src="{{ asset('assets/js/bootstrap.touchspin.js') }}"></script>

    <!-- include custom script for only homepage  -->
    <script src="{{ asset('assets/js/home.js') }}"></script>

    <!-- include custom script for site  -->
    <script src="{{ asset('assets/js/script.js?v32') }}"></script>


    <script src="{{ asset('assets/js/jquery.lazyload.js') }}"></script>
    <script src="{{ asset('assets/js/panier/panier.js?v83') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>
    </script>
{% endblock javascripts %}

</body>
</html>
