{% set totalHT = 0 %}
{% set totalTTC = 0 %}
{% set refTva = {} %}



{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/pickmeup.css') }}" rel="stylesheet">

{% endblock stylesheets %}

{% block breadcrump %}

    <style>
        /* Custom style for changing separator  */
        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
        }
    </style>

    <ul class="breadcrumb" style="margin-right: 2%;margin-left: 2%">


        <li class="breadcrumb-item ">
            <a style="font-family: Roboto-Regular, sans-serif;font-size: 12px;font-weight: 400;color: #ED0000 !important;">{{ "Panier" | trans }}</a></li>

        <li class="breadcrumb-item">
            <a style="font-family: Roboto-Regular, sans-serif;font-size: 12px;font-weight: 400;color: #a1a1a1 !important;"
               >{{ "Mode de reception" | trans }}</a></li>


        <li  class="breadcrumb-item" style="font-family: Roboto-Regular, sans-serif;font-size: 12px;font-weight: 400;color: #a1a1a1 !important;">
            {{ "validation" | trans }}
        </li>
    </ul>
{% endblock breadcrump %}


{% block content %}
    <style>
        .btnb {
            padding: 9px;
        }
    </style>

    <!--/.row-->



    <div class="row " style="margin-right: 2%;margin-left: 2%">
        <form name="aa" method="get" action="{{ path("update_cart") }}">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12 ">
                    {#
                                        <div class="w100 clearfix">
                        <ul class="orderStep orderStepLook2">
                            <li>
                                <a class="inputtitle" style="cursor: default;"> <i class="fa fa-map-marker"></i>
                                    <span> 1.{{ "Point de retrait" | trans }}</span></a>
                            </li>
                            <li class="active">
                                <a href="#"> <i class="glyphicon glyphicon-shopping-cart"></i>
                                    <span> 2.{{ "Panier" | trans }}</span></a>
                            </li>
                            {% if station.isDelivered is defined and station.isDelivered %}
                                <li>
                                    <a class="inputtitle" style="cursor: default;"> <i
                                                class="fa fa-calendar"></i><span> 3.{{ "Mode de reception" | trans }} </span></a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="inputtitle" style="cursor: default;"> <i
                                                class="fa fa-calendar"></i><span> 3.{{ "Créneau" | trans }} </span></a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="inputtitle" style="cursor: default;"><i
                                            class="fa fa-check-square "> </i><span>4.{{ "Conf" | trans }}</span></a>
                            </li>
                        </ul>
                        <!--/.orderStep end-->
                    </div>

                    #}


                    <div class="cartContent col-lg-9 ">
                        {% for message in app.session.flashBag.get('produitfini') %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}

                        <table class="cartTable table-responsive w100" id="TablepanierID">
                            <tbody>
                            <tr class="CartProduct cartTableHeader">
                                <td style="width:10%"> {{ "Product" | trans }}</td>
                                <td style="width:15%" class="hidden-xs hidden-sm">{{ "Details" | trans }}</td>

                                {% if produit is defined %}

                                {% if size[produit.id] is defined %}

                                <td style="width:35%"></td>
                                {% endif %}
                                {% endif %}
                                <td style="width:10%">{{ "QNT" | trans }}</td>
                                <td style="width:10%">{{ "Total" | trans }}</td>
                                <td style="width:10%" class="delete">&nbsp;</td>

                            </tr>
                            {% set total_price = 0 %}
                            {% for produit in produits %}
                                {% set nb_article = panier[produit.id] %}



                                <tr class="CartProduct product-{{ produit.id }}">
                                    <td class="CartProductThumb">
                                        <div>
                                            <a href="/">
                                                <img class="lazy"
                                                     alt="{{ produit.nom }}"
                                                     data-original="/uploads/produits/{{ produit.image }}"
                                                     src="{% if  produit.image  and produit.image != "" %}/uploads/produits/{{ produit.image }}
                                                           {% else %}{{ asset('/assets/img/default_t_e.jpg') }}{% endif %}">

                                            </a>

                                            <div class="CartDescription hidden-lg hidden-md">
                                                <h5><a href="#">{{ produit.nom }}</a></h5>
                                                <div class="price" style="color: #374649 !important;">
                                                    <span>
                                                        {{ formated_price(produit.finalPrice["prix"],app.session.get("pays")) }}
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                    <td style="width: 20% " class="hidden-xs hidden-sm">
                                        <div class="CartDescription">
                                            <h5><a href="#">{{ produit.nom }}</a></h5>
                                            <div class="price" style="color: #374649 !important;">
                                                    <span>
                                                        {{ formated_price(produit.finalPrice["prix"],app.session.get("pays")) }}
                                                    </span>
                                            </div>
                                        </div>
                                    </td>
                                    {% if size[produit.id] is defined %}
                                    <td style="width: 40%">
                                            {% for s in produit.sizes %}
                                                {% if size[produit.id] is defined and  size[produit.id][s.id] is defined %}
                                                    <div class="row" id='{{ s.id }}'>
                                                        <p style="float:left;display: inline-block;border: 2px solid #ddd;background-color: {{ s.couleur.codeCouleur }};color: transparent;height: 30px;width: 30px;"></p>
                                                        <h4 style="padding-left: 10px; padding-top: 4px;display: inline-block; float:left">
                                                            {{ "Taille" | trans }} :{{ s.libelle }} Qte
                                                            :{{ size[produit.id][s.id] }}</h4>

                                                        <a title="Delete"
                                                           style="display: inline-block;float:right;margin-right: 50px; "
                                                           onclick="deleteSize({{ produit.id }},{{ s.id }},{{ size[produit.id][s.id] }},
                                                             {{ produit.prix }},{% if produit.numProduitPromo %}{{  produit.numProduitPromo }}{% else %}null {% endif %}, {{ panier[produit.id] * produit.prix }},{% if station.isDelivered %}{{  station.isDelivered }}{% else %}null {% endif %}, {{ station.minprixLivraison }},{% if app.user %}'true'{% else %}'false'{% endif %})">
                                                            x
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                    </td>
                                    {% endif %}

                                    <td>
                                        {% if  produit.couleurs|length > 0 %}
                                            <input type="text" class="quanitySniper"
                                                   value="{{ panier[produit.id] }}"
                                                   name="qte[]" id="qte{{ produit.id }}" readonly="readonly">
                                        {% else %}
                                            {#
                                            was like this
                                                <input class="quanitySniper"  type="text"
                                                   value="{{ panier[produit.id] }}"
                                                   name="qte[]" readonly="false">
                                            #}
                                            <div class="col-lg-12 col-md-12 col-xs-12" style="">
                                                <div class="input-group group_qt">

                                                            <span class="input-group-btn">
                                                                <button id="deleteArticlep{{ produit.id }}"
                                                                        onclick="deleteArticleQuantityp({{ produit.id }},{{ produit.prix }})"
                                                                        type="button"
                                                                        class="quantity-left-minus btn btn-danger btn-number btn_plus_moins"
                                                                        data-type="minus" data-field="">
										                             	<span class="glyphicon glyphicon-minus"></span>
									                        	</button>
                                                            </span>
                                                    <input style=" height: 4.5rem;!important;" type="text"
                                                           id="qte{{ produit.id }}"
                                                           name="qte{{ produit.id }}"
                                                           class="form-control input-number text-center" {% if app.session.get('panier')[produit.id] is defined %} value="{{ app.session.get('panier')[produit.id] }}" {% else %} value="0" {% endif %}
                                                           min="1" max="100" disabled>
                                                    <span class="input-group-btn">
                                                                <button id="addArticlep{{ produit.id }}"
                                                                        onclick="addArticlep({{ produit.id }},{{ produit.quantite }},{{ produit.maxcommande }})"
                                                                        type="button"
                                                                        class="quantity-left-minus btn btn-danger btn-number btn_plus_moins"
                                                                        data-type="plus" data-field="">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
                                                            </span>
                                                </div>
                                            </div>
                                        {% endif %}

                                    </td>

                                    <td class="price">
                                        <div class="price" style=" ">
                                                <span id="price{{ produit.id }}">
                                                    {{ formated_price(produit.getTotalPrice(panier[produit.id])["prix"],app.session.get("pays"), false) }}
                                                </span>
                                            <span>&nbsp;{{ app.session.get("pays").devise }}</span>
                                        </div>


                                        {% if produit.finalPrice["is_promo"] and panier[produit.id] >=   produit.numProduitPromo %}
                                            <div class="old-price">
                                                    <span id="promotion{{ produit.id }}">
                                                        {{ formated_price(produit.getTotalPrice(panier[produit.id])["old_prix"],app.session.get("pays"), false) }}
                                                   </span>
                                                <span>&nbsp;{{ app.session.get("pays").devise }}</span>
                                            </div>


                                        {% endif %}


                                    </td>

                                    <td class="delete"
                                            {#                                            onclick="deleteArticlePagePanier({{ produit.id }},{{ panier[produit.id] }},{{ produit.prix }},{{ station.isDelivered }}, {{ station.minprixLivraison }},{{ panier[produit.id] * produit.prix }},{% if app.user %}'true'{% else %}'false'{% endif %})">#}
                                        onclick="deleteArticle({{ produit.id }},{{ panier[produit.id] * produit.prix }})">
                                        <a title="Delete"> <i class="glyphicon glyphicon-trash fa-2x" style="color: #ED0000"></i></a>
                                    </td>

                                </tr>
                                {% set total_price = total_price +  produit.getTotalPrice(panier[produit.id])["prix"] %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="cartFooter w100">
                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="/" class="btn  "
                                       style="padding-right: 10px;padding-left: 10px;line-height: 40px">
                                        <i class="fa fa-arrow-left"></i>&nbsp; {{ "Continuez vos achats" | trans }}
                                    </a>
                                </div>


                                <div class="pull-right">

                                    {#
                                       <button type="submit" class="btn  btn_regist"
                                            style="padding-right: 10px;padding-left: 10px"><i
                                                class="fa fa-undo"></i>&nbsp;
                                        {{ "Mise à jour du panier" | trans }}
                                    </button>
                                    #}
                                    <a id="btn-livrer"

                                            {% if not app.user %}
                                                href="{{ path('fos_user_security_login') }}"
                                            {% endif %}
                                       title=""
                                            {% if app.user and panier|length >0 %}
                                                href="{{ path("verification_panier") }}"
                                            {% endif %}

                                        style="margin-bottom:20px;">
                                        <button class="btn  btn_card_square w100 " type="button">

                                            {% if not app.user and panier|length >0 %}{{ "Se Connecter" | trans }}
                                            {% elseif app.user and panier|length<=0 %}{{ "Panier vide" | trans }}
                                            {% else %}
                                            {{ "continuer" | trans }}
                                            {#
                                                 {% if station.isDelivered is defined and  station.isDelivered and total_price >= station.minprixLivraison %}
                                                {{ "Choisir entre drive et livraison" | trans }}
                                            {% else %}
                                                {{ "Sélectionnez votre créneau" | trans }}
                                            {% endif %}
                                            #}



                                             {% endif %}
                                            <i class="fa fa-arrow-right"></i>
                                              </button>

                                       </a>



                            </div>
                        </div>
                    </div>
                  </div>
                <!--cartContent-->
                    {#
                      <div class="col-lg-3 col-md-6 rightSidebar">
                    <div class="contentBox">
                        <div class="w100 costDetails">
                            <div class="table-block" id="order-detail-content">
                                {% if station.isDelivered is defined and station.isDelivered  and total_price <= station.minprixLivraison %}

                                    <div class="w100 " id="divlivraison" name="divlivraison"
                                         style="margin-top: 10px">
                                        <div class="alert alert-danger alert-dismissible" role="alert"
                                             style="font-family: Roboto-Regular, sans-serif!important;">
                                            {{ "Pour la livraison à domicile, il faut une commande d´un montant minimum de" | trans }}
                                            {{ formated_price(  station.minprixLivraison,app.session.get("pays")) }}
                                        </div>
                                    </div>

                                {% endif %}

                                <div class="w100 cartMiniTable" hidden>
                                    {% if coupon and coupon != '' %}
                                        {% if coupon.type == 1 %}
                                            {% set total_price = total_price - coupon.montant %}
                                        {% elseif coupon.type == 2 %}
                                            {% set total_price = total_price / 100 *(100-coupon.pourcentage) %}
                                        {% endif %}
                                    {% endif %}
                                    <table id="cart-summary" class="std table">
                                        <tbody>
                                        <tr>
                                            <td class="labell"> {{ "Total Commande" | trans }}</td>
                                        </tr>
                                        <tr>
                                            <td class=" site-color">
                                                <span id="total-price">{{ formated_price(total_price,app.session.get("pays"), false) }}</span>
                                                <span class="site-color">{{ app.session.get("pays").devise }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="input-append couponForm">
                                                    <button class="col-lg-4 btn btnb" type="button"
                                                            onclick="verifcoupon()">{{ "Appliquer"|trans }}
                                                    </button>
                                                    <input class="col-lg-7" id="couponinput" name="couponinput"
                                                           type="text"
                                                           placeholder="{{ "Code coupon" | trans }}"
                                                           style="padding-right: 10px; padding-left: 10px;margin-left:10px; border-style: none;  border: 1px solid #ececec;outline: transparent;">

                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                {#
                                                                    <a id="btn-livrer"

                                        {% if not app.user %}
                                            href="{{ path('fos_user_security_login') }}"
                                        {% endif %}
                                   title=""
                                        {% if app.user and panier|length >0 %}
                                            href="{{ path("verification_panier") }}"
                                        {% endif %}
                                   style="margin-bottom:20px;">
                                    <button class="btn  btn_card_square w100 " type="button">

                                        {% if not app.user and panier|length >0 %}{{ "Se Connecter" | trans }}
                                        {% elseif app.user and panier|length<=0 %}{{ "Panier vide" | trans }}
                                        {% else %}
                                            {{ "continuer" | trans }}
                                            {#
                                                 {% if station.isDelivered is defined and  station.isDelivered and total_price >= station.minprixLivraison %}
                                                {{ "Choisir entre drive et livraison" | trans }}
                                            {% else %}
                                                {{ "Sélectionnez votre créneau" | trans }}
                                            {% endif %}



                                {% endif %}
                                <i class="fa fa-arrow-right"></i>
                                </button>

                                </a>

                                #}


                   {#  </div>
                   </div>
                  </div>
                 </div>
                    #}


                    <!--/ cartFooter -->

                </div>
            </div>

        </form>

        <!--/rightSidebar-->

    </div>
    <!--/.row-->

    <!-- Modal -->
    <div class="modal fade" id="modal-coupon" tabindex="-1" role="dialog"
         aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row transitionfx text-left">

                    <div class="modal-header" style="background: #df0c36;">
                        <h4 class="modal-title" id="exampleModalLongTitle"
                            style="padding-left: 10px;margin-top: 11px;font-family: Roboto-Regular, sans-serif!important;color: white">
                            {{ "Vérification coupon" | trans }}</h4>

                        <button style="padding-right: 10px;opacity: 1.2;margin-top: -36px;background-color: #df0c36"
                                type="button" class=" close" data-dismiss="modal" aria-label="Close">
                            <span style="color: #ffffff" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <h3 id="input_coupon_result"></h3>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <script>
        function verifcoupon() {
            var coupon_value = $("#couponinput").val();
            var totalprice = parseFloat($('#total-price').html());
            console.log(totalprice);
            $.ajax({
                url: "{{ (path('verificationCoupon')) }}",
                dataType: 'Json',
                data: {"coupon": coupon_value},
                type: 'GET',
                success: function (coupon) {
                    if (coupon['result'] == true) {
                        $.ajax({
                            url: "{{ (path('executeCoupon')) }}",
                            dataType: 'Json',
                            data: {"coupon": coupon_value},
                            type: 'GET',
                            success: function (data) {
                                if (data['result'] == true) {

                                    if (data['type'] == 1) {
                                        var montant = parseFloat(coupon['montant'])
                                        console.log('montant'.montant)
                                        console.log('total'.totalprice)
                                        if (montant > totalprice) {
                                            $input_coupon = $("#input_coupon_result").html('Votre commande doit avoir un montant superieur à' + montant + '{{ app.session.get("pays").devise }}');
                                            $("document").ready(function () {
                                                $('#modal-coupon').modal({
                                                    backdrop: 'static',
                                                    keyboard: false
                                                });
                                            })
                                        } else {
                                            $('#total-price').html((totalprice - montant).toFixed(3));
                                            $(".total_price_cart_empty").html((totalprice - montant).toFixed(3));
                                            $(".total_price_cart").html((totalprice - montant).toFixed(3));
                                        }

                                    }
                                    if (data['type'] == 2) {

                                        var pourcentage = parseFloat(coupon['pourcentage'])
                                        console.log(coupon['pourcentage'])
                                        console.log(totalprice)
                                        $('#total-price').html((totalprice / 100 * (100 - pourcentage)).toFixed(3));
                                        $(".total_price_cart_empty").html((totalprice / 100 * (100 - pourcentage)).toFixed(3));
                                        $(".total_price_cart").html((totalprice / 100 * (100 - pourcentage)).toFixed(3));
                                    }

                                } else if (data['result'] == false && data['ancien'] !== undefined) {

                                    if (data['ancientype'] == 1) {

                                        var montant_ancien_reduit = parseFloat(totalprice + data['ancien'])
                                        console.log('montant_ancien_reduit1' + montant_ancien_reduit)
                                    }
                                    if (data['ancientype'] == 2) {
                                        var montant_ancien_reduit = totalprice + (totalprice / (100 - data['ancien']) * data['ancien']);
                                        console.log('montant_ancien_reduit2' + montant_ancien_reduit)
                                    }

                                    if (data['type'] == 1) {
                                        var price = parseFloat(montant_ancien_reduit - data['montant'])
                                        console.log('price1' + price)

                                        if (montant > montant_ancien_reduit) {

                                            $input_coupon = $("#input_coupon_result").html('Votre commande doit avoir un montant superieur à' + montant + ' {{ app.session.get("pays").devise }}');
                                            $("document").ready(function () {
                                                $('#modal-coupon').modal({
                                                    backdrop: 'static',
                                                    keyboard: false
                                                });
                                            })
                                        } else {
                                            $('#total-price').html((price).toFixed(3));
                                            $(".total_price_cart_empty").html((price).toFixed(3));
                                            $(".total_price_cart").html((price).toFixed(3));
                                        }
                                    }
                                    if (data['type'] == 2) {

                                        var price = montant_ancien_reduit / 100 * (100 - data['pourcentage']);
                                        console.log('price2' + price)
                                        $('#total-price').html((price).toFixed(3));
                                        $(".total_price_cart_empty").html((price).toFixed(3));
                                        $(".total_price_cart").html((price).toFixed(3));
                                    }

                                } else {
                                    $input_coupon = $("#input_coupon_result").html('Vous avez déja entrer un coupon');
                                    $("document").ready(function () {
                                        $('#modal-coupon').modal({
                                            backdrop: 'static',
                                            keyboard: false
                                        });
                                    })
                                }

                            }
                        })
                    } else {
                        $input_coupon = $("#input_coupon_result").html('Coupon invalide');
                        $("document").ready(function () {
                            $('#modal-coupon').modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        })
                    }

                }
            })

        }



        function addArticlep(id, quantity,max) {
            var qte = parseInt(  $("#qte"+id).val());
            var qte_input = document.querySelectorAll("[id=qte" + id+"]");


            if(qte+ 1  > quantity  ){
                document.getElementById("idinputtwo"+id).innerHTML = quantity;

                $("document").ready(function () {
                    $('#modal-panier'+id).modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    //  $('select').select2();
                })
            }
            else if (qte + 1 > max) {
                $("document").ready(function () {
                    $('#modal-quantity-max'+id).modal({
                        backdrop: 'static',
                        keyboard: false});
                })
            }
            else {


                for(var i = 0; i < qte_input.length; i++){
                    qte_input[i].value = qte + 1;
                }

                //   alert("qtettee"+qte)

                var $this = $("#addArticlep"+id);
                $.ajax({
                    url: Routing.generate('add_quantity_to_cart', {id: id}), success: function (result) {
                        $(".my_nav_bar").html(result);
                        $(".total_price_cart_empty").html($(".total_price_cart").html());
                        $("img.lazy").lazyload({
                            threshold : 50
                        });

                        $(window).load(function(){
                            $("html,body").trigger("scroll");
                        });
                        $this.button('reset');

                        //   window.location.reload();
                        location.reload();
                        console.log("location reload")

                    }
                });



            }
        }

        function deleteArticleQuantityp(id, product_price) {
            var qte_input = document.querySelectorAll("[id=qte" + id+"]");
            var quantity = parseInt(  $("#qte"+id).val());
            if (quantity > 0) {

                for(var i = 0; i < qte_input.length; i++){
                    qte_input[i].value = quantity - 1;
                }

                var $this = $("#deleteArticlep"+id);

                $.ajax({
                    url: Routing.generate('delete_quantity_to_cart', {id: id}), success: function (result) {
                        $(".my_nav_bar").html(result);
                        $(".total_price_cart_empty").html($(".total_price_cart").html());
                        $this.button('reset');
                        $("img.lazy").lazyload({
                            threshold : 50
                        });

                        $(window).load(function(){
                            $("html,body").trigger("scroll");
                        });

                        // $('#productSetailsModalAjax'+id).modal('hide');
                        $('.modal').modal('hide');
                        location.reload();



                    }
                });
            }

        }

    </script>

{% endblock %}


