{% extends 'FrontendBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/pickmeup.css?v2') }}" rel="stylesheet">


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .w3-sidebar a {font-family: "Roboto", sans-serif}
        body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Roboto", sans-serif;}


    </style>
{% endblock stylesheets %}
{% block body %}

    <div class="container" style="padding-right: 2%;padding-left: 2%;margin-top: 100px;padding-bottom: 20px;background-color: #F7F9FA ;max-width: 1600px" >



        <input type="text" value="{{ cp }}" id="cp" style="display: none;">
        <!--/.banner style1-->

            <div class="container main-container" style="margin-top: 1px !important;">

                <!-- Main component call to action -->

                <div class="morePost row featuredPostContainer style2 globalPaddingTop ">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" >


                        <div class="row" style="display: flex; align-items: center;">
                            <div class="breadcrumbDiv" style="margin-left: 27px;">
                                <ul class="breadcrumb">
                                    <li><a style="font-family: Roboto-Regular, sans-serif;font-size: 12px;font-weight: 400;color: #ED0000 !important;" href="/">{{ "Home"|trans }}</a></li>

                                    <li style="font-family: Roboto-Regular, sans-serif;font-size: 12px;font-weight: 400;color: #374649 !important;">
                                        {{ "Produits les plus vendus"|trans }}</li>
                                </ul>
                            </div>
                        </div>



                        <h3 class="col-lg-9 col-md-9 col-sm-9 col-xs-9 section-title style2  text-left hidden-lg hidden-md ">
                            <span class="" >{{ "Produits les plus vendus" | trans }} </span>

                        </h3>

                        <h3 class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-left hidden-xs hidden-sm">
                            <span class="hidden-xs hidden-sm ">{{ "filterproducts" | trans }} </span>

                        </h3>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right hidden" >
                            <a style="float: right;
                        font-family: Roboto-Regular, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 40px;
                        text-align: center;
                        color: #ED0000!important" href="{{ path("view_all") }}">
                                <i  class="fa fa-caret-right icon"></i>{{ "view_all"|trans}} </a>
                        </div>



                    </div>

                    <div class="container">
                        <div class="row xsResponse">


                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs" style="margin-top: 25px" >
                                <!-- Sidebar -->

                                <div class=" w3-bar-block" style="box-shadow: 0px 0px 4px #e6e6e6"  >



                                    {% for  key,category in categories["other"] %}

                                    <div class="w3-dropdown-hover" style="background-color: white;padding-bottom: 10px">

                                        <button class="w3-button">
                                            {% if app.session.get("pays").FrontLanguage  == 'en' or app.session.get("pays").FrontLanguage  == 'EN' %}{{ category.nomEn }}{% else %} {{ category.nom }}{% endif %} <i class="fa fa-caret-down"></i></button>
                                        <div class="w3-dropdown-content w3-bar-block">
                                            {% for sub_category in category.sousCategories %}

                                                    <a href="{{ path("view_products") }}?subcategorie_id={{ sub_category.id }}"
                                                       class="w3-bar-item w3-button">
                                                        {% if  app.session.get("pays").FrontLanguage  == 'en' or app.session.get("pays").FrontLanguage  == 'EN' %}{{ sub_category.nomEn }}{% else %} {{ sub_category.nom }}{% endif %}
                                                    </a>



                                            {% endfor %}
                                        </div>

                                    </div>
                                    {% endfor %}


                                </div>


                            </div>

                            {% if produitspromo|length > 0 %}

                            <div class="col-lg-10 col-md-10">




                            {% for produit in produitspromo %}


                                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-top: 25px">
                                    <div class="product" >
                                        <a {% if app.user %}
                                            onclick="addfavoris({{ produit.produit.id }})"
                                        {% else %}
                                            {#onclick="addfavnonConnect()"#}
                                            href="{{ path("fos_user_security_login",{'produitid':produit.produit.id})}}"

                                        {% endif %}
                                                class="add-fav tooltipHere
                                                {% for favoris in favoris %}
                                                    {% if  favoris.utilisateur == app.user and favoris.produit == produit.produit  %} active {% endif %}
                                                {% endfor %}"
                                                data-toggle="tooltip"
                                                data-original-title="Add to Wishlist"
                                                data-placement="left">
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </a>

                                        <div class="image"  style="width: 100%!important;height:70%!important">
                                            {% if produit.produit.description or produit.produit.descriptionen %}
                                            <div class="quickview" >
                                                <a  class="btn btn-xs btn-quickview" href="{{ path("detail_produits",{'produitid':produit.produit.id}) }}"
                                                >{{ "Details" | trans }} </a>
                                            </div>
                                            {%  endif %}

                                            <img style="width: 100%!important;border-top-left-radius: 10px;border-top-right-radius: 10px;max-height: 300px;min-height:300px;height:100%!important;object-fit: contain  !important"
                                                 src="{{ asset('/assets/img/default_t_e.jpg') }}"
                                                 data-original="{% if produit.produit.image and produit.produit.image and produit.produit.image != "" %}/uploads/produits/{{ produit.produit.image }}{% else %}{{ asset('/assets/img/default_t_e.jpg') }} {% endif %}" alt="img"
                                                 class="img-responsive lazy" >

                                            {% if produit.produit.finalPrice["is_promo"] and produit.produit.prixPromo and produit.produit.prixPromo > 0 %}
                                                <div class="promotion">
                                                <span class="discount"  >{{ "Promotion" | trans }}
                                                </span>
                                                </div>
                                            {% elseif produit.produit.finalPrice["is_promo"] and produit.produit.numProduitPromo == 1 %}
                                                <div class="promotion">
                                                <span class="discount">{{ "Promotion" | trans }}
                                                    {{ formated_price(produit.produit.finalPrice["percentage"],app.session.get('pays'),false) }}%

                                                    {#                                                    {{ produit.produit.finalPrice["percentage"]|number_format(0, '.', ',') }}%
#}
                                                </span>
                                                </div>
                                            {% elseif produit.produit.finalPrice["is_promo"] and produit.produit.numProduitPromo > 1 %}
                                                <div class="promotion">
										<span class="discount">
											{{ formated_price(produit.produit.finalPrice["percentage"],app.session.get('pays'),false) }}%
                                            {#											{{ produit.produit.finalPrice["percentage"]|number_format(0, '.', ',') }}%
#}
                                            {{ "sur le" | trans }}
                                            {{ produit.produit.numProduitPromo }}{{"ème" | trans}}
										</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div style="height: 30%!important;position: relative">


                                            <div class="line_gradient"></div>

                                            <div class="description" >
                                                {% if app.request.getLocale()  == 'en' %}{{ produit.produit.nomen }}{% else %}{{ produit.produit.nom }}{% endif %}

                                            </div>

                                            <span class="cat_badge" >
                                        {% if app.request.getLocale()  == 'en' %}{{ produit.produit.categorie.nomEn }}{% else %}{{ produit.produit.categorie.nom }}{% endif %}
                                           </span>
                                            {#


                                            <div class="description" >
                                                {% if app.request.getLocale()  == 'en' %}{{ produit.produit.descriptionen }}{% else %}{{ produit.produit.description }}{% endif %}

                                            </div>

                                                <div class="col-lg-12 fich_technique">
                                                    {% if produit.produit.file %}

                                                    <a  target="_blank"
                                                        href="{{ legal_notice_directory }}/{{ produit.produit.file }}">
                                                        <svg _ngcontent-dxq-c64="" height="20" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-dxq-c64="" id="Solid"><path _ngcontent-dxq-c64="" fill="#ED0000" d="m239.029 384.97a24 24 0 0 0 33.942 0l90.509-90.509a24 24 0 0 0 0-33.941 24 24 0 0 0 -33.941 0l-49.539 49.539v-262.059a24 24 0 0 0 -48 0v262.059l-49.539-49.539a24 24 0 0 0 -33.941 0 24 24 0 0 0 0 33.941z"></path><path _ngcontent-dxq-c64="" fill="#ED0000" d="m464 232a24 24 0 0 0 -24 24v184h-368v-184a24 24 0 0 0 -48 0v192a40 40 0 0 0 40 40h384a40 40 0 0 0 40-40v-192a24 24 0 0 0 -24-24z"></path></g></svg>
                                                        {{ "Fiche Technique"|trans }}
                                                    </a>
                                                    {% endif %}

                                                </div>

                                            #}
                                            <div class="row" style="position: absolute;  bottom: 10px;left: 0;right: 0 ">
                                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                                    <div class="price div_card" style="padding-left: 8px;
                                                    {% if (produit.produit.finalPrice["is_promo"] == false) or( produit.produit.finalPrice["is_promo"] == true and produit.produit.numProduitPromo>1 ) %}
                                                            padding-bottom: 22px;
                                                    {% endif %}">
                                                  <span class="old-price" style="float:left">
                                                    {% if produit.produit.finalPrice["is_promo"] and produit.produit.prixPromo and produit.produit.prixPromo > 0 %}
                                                        {{ formated_price( produit.produit.finalPrice["old_prix"],app.session.get("pays"))}}
                                                        {#                                                        {{ produit.produit.finalPrice["old_prix"]|number_format(2, '.', ',') }} Ar
#}
                                                    {% elseif produit.produit.finalPrice["is_promo"] and produit.produit.numProduitPromo == 1 %}
                                                        {{ formated_price( produit.produit.finalPrice["old_prix"],app.session.get("pays"))}}
                                                    {% endif %}
                                                   </span>

                                                        <br>
                                                        <span style="float:left">
                                                       {{ formated_price( produit.produit.finalPrice["prix"],app.session.get("pays"))}}
                                                  </span>



                                                    </div>
                                                </div>
                                                <div class="div_card  col-lg-6 col-md-6 col-xs-6 col-sm-6 text-right" style="padding-right: 22px">

                                                    <div class=" " id="quantite{{ produit.produit.id }}"    name="quantite{{ produit.produit.id }}" disabled="none" hidden>

                                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                                            <div class="input-group group_qt">

                                                            <span class="input-group-btn">
                                                                <button id="deleteArticle{{ produit.produit.id }}"
                                                                        onclick="deleteArticleQuantity({{ produit.produit.id }},{{ produit.produit.prix }})"
                                                                        type="button"
                                                                        class="quantity-left-minus btn btn-danger btn-number btn_plus_moins"
                                                                        data-type="minus" data-field="">
										                                  	<span class="glyphicon glyphicon-minus"></span>
										                             </button>
                                                            </span>
                                                                <input style=" height: 4.5rem;!important;" type="text"
                                                                       id="qte{{ produit.produit.id }}"
                                                                       name="qte{{ produit.produit.id }}"
                                                                       class="form-control input-number text-center" {% if app.session.get('panier')[produit.produit.id] is defined %} value="{{ app.session.get('panier')[produit.produit.id] }}" {% else %} value="0" {% endif %}
                                                                       min="1" max="100" disabled>
                                                                <span class="input-group-btn">
                                                                <button id="addArticle{{ produit.produit.id }}"
                                                                        onclick="addArticle({{ produit.produit.id }},{{ produit.produit.quantite }},{{ produit.produit.maxcommande }})"
                                                                        type="button"
                                                                        class="quantity-left-minus btn btn-danger btn-number btn_plus_moins"
                                                                        data-type="plus" data-field="">
											                          <span class="glyphicon glyphicon-plus"></span>
									                          	</button>
                                                            </span>
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="" id="addcart{{ produit.produit.id }}"
                                                         name="addcart{{ produit.produit.id }}">
                                                        {% if produit.produit.quantite == 0 %}
                                                            <button disabled type="button"
                                                                    style=" background-color: #8c8586; color: white; border: 1px solid #8c8586; padding: 0 0; height: 43px;  width: 43px;"
                                                                    data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
								                         	<span class="add2cart">
                                                                {#                                                            <i style="font-size: 17px;float: left;margin-left: 20px" class="glyphicon glyphicon-shopping-cart"></i>
#}
                                                            <span class="btnspanadd" > {{ "Acheter" | trans }} <i class="fa fa-shopping-cart"></i></span>
								                              	</span>
                                                            </button>
                                                        {% else %}

                                                            {% if  produit.produit.couleurs|length > 0 %}

                                                                <a class=" btn_card" style="padding-top: 15px; padding-bottom: 15px;"
                                                                   href="{{ path("detail_produits",{'produitid':produit.produit.id}) }}"  >
                                                         <span class="add2cart">
                                                            <span class="btnspanadd"> {{ "Acheter" | trans }} <i
                                                                        class="fa fa-shopping-cart"></i></span>
                                                        </span>
                                                                </a>

                                                            {% else %}

                                                            <button type="submit" class="btn_card"
                                                                    {#
                                                                                                                                        {% if  produit.produit.couleurs|length > 0 %}
                                                                        data-toggle="modal"
                                                                        data-target="#productSetailsModalAjax{{ produit.produit.id }}"
                                                                    {% else %}
                                                                        id="btn-panier{{ produit.produit.id }}"
                                                                        onclick="enabledivquantity({{ produit.produit.id }},{{ produit.produit.quantite }},{{ produit.produit.maxcommande }})"

                                                                    {% endif %}

                                                                    #}

                                                                    id="btn-panier{{ produit.produit.id }}"
                                                                    onclick="enabledivquantity({{ produit.produit.id }},{{ produit.produit.quantite }},{{ produit.produit.maxcommande }})"

                                                                    data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                                             <span class="add2cart">
                                                                  <span  class="btnspanadd"> {{ "Acheter" | trans }} <i class="fa fa-shopping-cart"></i></span>
                                                             </span>
                                                            </button>

                                                            {% endif %}



                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>


                                        </div>

                                    </div>
                                </div>



                            {% endfor %}

                               </div>


                            {% for produit in produitspromo %}
                                <!-- Modal -->
                                <div class="modal fade" id="productSetailsModalAjax{{ produit.produit.id }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="row transitionfx text-left" style="padding: 30px;margin-right: 0px!important; margin-left: 0px;!important;  ">
                                                <div class="col-lg-12">
                                                    <button style="opacity: 1.2;margin-top: -21px;margin-right: -18px;background-color: #ffffff;/* color: #454545; */" type="button" class=" close" data-dismiss="modal" aria-label="Close">
                                                        <span style="color: #454545;" aria-hidden="true">×</span>
                                                    </button></div>
                                                <!-- left column -->
                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <!-- product Image and Zoom -->


                                                    <div class="sp-large" style="overflow: hidden; height: auto; left: 0px; top: 0px;max-width: 100% !important">
                                                        <a href="" class="" style="width: 100%;height: 100%;border-radius: 10px!important;">
                                                            <img id="imageproduit{{ produit.produit.id }}"
                                                                 data-original="/uploads/produits/{{ produit.produit.image }}"
                                                                 src="{% if produit.produit.image and produit.produit.image != "" %}/uploads/produits/{{ produit.produit.image }}{% else %}{{ asset('/assets/img/default') }}{% endif %}"
                                                                 alt="{{ produit.produit.nom }}" class="img-responsive" alt="img">
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--/ left column end -->


                                                <!-- right column -->
                                                <div class="col-lg-8 col-md-6 col-sm-5">
                                                    <input type="text" id="idproduit" value="{{ produit.produit.id }}"
                                                           hidden>

                                                    <h1 class="product-title titleproduitt">{% if app.request.getLocale()  == 'en' %}{{ produit.produit.nomen }}{% else %}{{ produit.produit.nom }}{% endif %}

                                                    </h1>

                                                    <div class="description" >
                                                        {% if app.request.getLocale()  == 'en' %}{{ produit.produit.descriptionen }}{% else %}{{ produit.produit.description }}{% endif %}

                                                    </div>
                                                    <div class="product-price" style="    font-size: 20px;">
                                                        <span class="price-sales price">  {{ formated_price( produit.produit.finalPrice["prix"],app.session.get("pays"))}}	 </span>

                                                        {% if produit.produit.finalPrice["is_promo"] and produit.produit.numProduitPromo == 1 %}
                                                            <span class="price-standard old-price"> {{ formated_price( produit.produit.finalPrice["old_prix"],app.session.get("pays"))}} </span>

                                                        {% elseif produit.produit.finalPrice["is_promo"] and produit.produit.prixPromo and produit.produit.prixPromo > 0 %}
                                                            <span class="price-standard old-price"> {{ formated_price( produit.produit.finalPrice["old_prix"],app.session.get("pays"))}}</span>
                                                        {% endif %}
                                                    </div>
                                                    {% if produit.produit.couleurs|length>0 %}

                                                        <div class="color-details">
                                                            {% if produit.produit.image and produit.produit.image != "" %}
                                                                <img name='img' id='{{ produit.produit.image }}'
                                                                     style="width:  100px;height: 100px;background-size: contain;border-width: 2px; border-color: #ED0000;border-style: solid;"
                                                                     src="/uploads/produits/{{ produit.produit.image }}"
                                                                     onclick="changeImage('{{ produit.produit.image }}','{{ produit.produit.id }}')"
                                                                     alt="img">
                                                            {% endif %}
                                                            {% for c in produit.produit.couleurs %}
                                                                {% if c.image and c.image != "" %}

                                                                    <img name='img' id='{{ c.image }}'
                                                                         style="    width:  100px;height: 100px;background-size: cover;border-width: 2px; border-color: #dcdbdb;border-style: solid;"
                                                                         src="/uploads/produits/{{ c.image }}"
                                                                         onclick="changeImage('{{ c.image }}','{{ produit.produit.id }}')"
                                                                         alt="img">

                                                                {% endif %}

                                                            {% endfor %}
                                                        </div>
                                                        <div class="color-details">
                                                            <span class="selected-color"><strong class="text_details">{{ "Couleurs" | trans }}</strong></span>
                                                            <ul class="swatches Color" name="couleur{{ produit.produit.id }}"
                                                                id="couleur{{ produit.produit.id }}">
                                                                {% set i = 1 %}
                                                                {% for couleur in produit.produit.couleurs %}
                                                                    {% if i == 1 %}
                                                                        <li class="selected" value="{{ couleur.codeCouleur }}"
                                                                            onclick="changeImagecouleur('{{ produit.produit.id }}','{{ couleur.id }}','{{ couleur.image }}')">
                                                                            <a style="background-color:{{ couleur.codeCouleur }};color:transparent"></a>
                                                                        </li>
                                                                    {% else %}
                                                                        <li value="{{ couleur.codeCouleur }}"
                                                                            onclick="changeImagecouleur('{{ produit.produit.id }}','{{ couleur.id }}','{{ couleur.image }}')">
                                                                            <a style="background-color:{{ couleur.codeCouleur }};color:transparent"></a>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% set i = i+1 %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                    <!--/.color-details-->
                                                    <div class="color-details">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-xs-6" style="">
                                                                <span class="selected-color"><strong class="text_details">{{"Quantité" | trans}}</strong></span>
                                                                {% if produit.produit.couleurs|length>0 %}

                                                                    <div class="input-group">
                                                                <span class="input-group-btn ">
                                                                    <button id="deleteArticle{{ produit.produit.id }}"
                                                                            onclick="moinsquantity({{ produit.produit.id }})"
                                                                            type="button"
                                                                            class="quantity-left-minus btn btn-danger btn-number btn_plus_moins"
                                                                            style="background-color:#ED0000" data-type="minus"
                                                                            data-field="">
                                                                        <span class="glyphicon glyphicon-minus"></span>
                                                                    </button>
                                                                </span>
                                                                        <input style=" height: 4.5rem;!important;" type="text"
                                                                               id="quantitymodal{{ produit.produit.id }}"
                                                                               name="quantitymodal{{ produit.produit.id }}"
                                                                               class="form-control input-number text-center" {% if app.session.get('panier')[produit.produit.id] is defined %} value="{{ app.session.get('panier')[produit.produit.id] }}" {% else %} value="1" {% endif %}
                                                                               min="1" max="100" disabled>
                                                                        <span class="input-group-btn">
                                                                    <button onclick="plusquantity({{ produit.produit.id }})"
                                                                            type="button"
                                                                            class="quantity-right-plus btn btn-success btn-number btn_plus_moins"
                                                                            style="background-color:#ED0000" data-type="plus"
                                                                            data-field="">
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </button>
                                                                </span>
                                                                    </div>
                                                                {% else %}

                                                                    <div class="row" id="quantite{{ produit.produit.id }}"
                                                                         name="quantite{{ produit.produit.id }}" disabled="none" >

                                                                        <div class="col-lg-12 col-md-12 col-xs-12" style="">
                                                                            <div class="input-group group_qt">

                                                            <span class="input-group-btn">
                                                                <button id="deleteArticle{{ produit.produit.id }}"
                                                                        onclick="moinquantityD({{ produit.produit.id }})"
                                                                        type="button"
                                                                        class="quantity-left-minus btn btn-danger btn-number btn_plus_moins"
                                                                        data-type="minus" data-field="">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                            </span>
                                                                                <input style=" height: 4.5rem;!important;" type="text"
                                                                                       id="qte{{ produit.produit.id }}"
                                                                                       name="qte{{ produit.produit.id }}"
                                                                                       class="form-control input-number text-center" {% if app.session.get('panier')[produit.produit.id] is defined %} value="{{ app.session.get('panier')[produit.produit.id] }}" {% else %} value="0" {% endif %}
                                                                                       min="1" max="100" disabled>
                                                                                <span class="input-group-btn">
                                                                <button id="addArticlee{{ produit.produit.id }}"
                                                                        onclick="plusquantityD({{ produit.produit.id }},{{ produit.produit.quantite }},{{ produit.produit.maxcommande }})"
                                                                        type="button"
                                                                        class="quantity-left-minus btn btn-danger btn-number btn_plus_moins"
                                                                        data-type="plus" data-field="">
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </button>
                                                        </span>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                {% endif %}


                                                            </div>

                                                            {% if produit.produit.couleurs|length>0 %}

                                                                <div class="col-lg-8 col-sm-6 col-xs-6">
                                                                    <span class="selected-color"><strong class="text_details">{{ "Taille" | trans }}</strong></span>
                                                                    <select class="form-control"
                                                                            id="sizes{{ produit.produit.id }}"
                                                                            name="sizes{{ produit.produit.id }}"
                                                                            onchange="changeSize({{ produit.produit.id }})"
                                                                            style="border-radius: 0px;height: 43px;font-family: Roboto-Regular,sans-serif"  >
                                                                        <option disabled selected class="text_details">
                                                                            {{ "choisir la taille" | trans }}</option>
                                                                        {% if  produit.produit.couleurs|length > 0 %}
                                                                            {% set i = 1 %}
                                                                            {% for size in produit.produit.couleurs["0"].sizes %}
                                                                                {% if i == 1 %}
                                                                                    <option value="{{ size.id }}"
                                                                                            selected>{{ size.libelle }}</option>
                                                                                {% else %}
                                                                                    <option value="{{ size.id }}">{{ size.libelle }}</option>

                                                                                {% endif %}
                                                                                {% set i = i+1 %}

                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </select>
                                                                </div>
                                                            {% endif%}

                                                        </div>
                                                    </div>
                                                    <!-- productFilter -->
                                                    <div class="color-details">

                                                        {% if produit.produit.couleurs|length>0 %}
                                                            <button  onclick="addArticleSize({{ produit.produit.id }})"
                                                                     class="btn  btn-primary btn_card col-lg-6 " type="submit"
                                                                     style="border: none;border-radius: 0px;padding: 12px 20px;" id="btn-panier"
                                                                     data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                                        <span class="add2cart btnspanadd" >
                                                            {{ "Ajouter au panier" | trans }}
                                                        </span>
                                                            </button>
                                                        {% else%}
                                                            {# button addarticle si prod sans coleur #}

                                                            <button id="addArticlee{{ produit.produit.id }}" onclick="addArticlee({{ produit.produit.id }},{{ produit.produit.quantite }},{{ produit.produit.maxcommande }})"
                                                                    class="btn  btn-primary btn_card col-lg-6 " type="submit"
                                                                    style="border: none;border-radius: 0px;padding: 12px 20px;"
                                                                    data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                                        <span class="add2cart btnspanadd" >
                                                            {{ "Ajouter au panier" | trans }}
                                                        </span>
                                                            </button>
                                                        {% endif%}

                                                        <div class="col-lg-6 fich_technique">
                                                            {% if produit.produit.file %}

                                                                <a  target="_blank"
                                                                    href="{{ legal_notice_directory }}/{{ produit.produit.file }}">
                                                                    <svg _ngcontent-dxq-c64="" height="20" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-dxq-c64="" id="Solid"><path _ngcontent-dxq-c64="" fill="#ED0000" d="m239.029 384.97a24 24 0 0 0 33.942 0l90.509-90.509a24 24 0 0 0 0-33.941 24 24 0 0 0 -33.941 0l-49.539 49.539v-262.059a24 24 0 0 0 -48 0v262.059l-49.539-49.539a24 24 0 0 0 -33.941 0 24 24 0 0 0 0 33.941z"></path><path _ngcontent-dxq-c64="" fill="#ED0000" d="m464 232a24 24 0 0 0 -24 24v184h-368v-184a24 24 0 0 0 -48 0v192a40 40 0 0 0 40 40h384a40 40 0 0 0 40-40v-192a24 24 0 0 0 -24-24z"></path></g></svg>
                                                                    {{ "Fiche Technique"|trans }}
                                                                </a>
                                                            {% endif %}

                                                        </div>

                                                    </div>

                                                    <!--/.cart-actions-->

                                                </div>
                                                <!--/ right column end -->

                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->


                                <div class="modal fade" id="modal-quantity-max{{ produit.produit.id }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background: #ED0000;">
                                                <h4 class="modal-title text-left" id="exampleModalLongTitle"
                                                    style="margin-top: 11px;">

                                                </h4>
                                                <button style="opacity: 1.2;margin-top: -26px;margin-right: -10px;background-color: #ED0000"
                                                        type="button" class=" close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span style="color: #ffffff" aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <h3>
                                                    {{ "pouvez_commander_au_max" | trans}}{{ produit.produit.maxcommande }}
                                                    {% if app.request.getLocale()  == 'en' %}{{ produit.produit.nomen }}{% else %}{{ produit.produit.nom }}{% endif %}

                                                </h3>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                       {#

                                <script>
                                    $(document).click(function(event) {
                                        //if you click on anything except the modal itself or the "open modal" link, close the modal
                                        setTimeout(function(){
                                            $('#modal-quantity-max{{ produit.produit.id }}').modal('hide')
                                        }, 14000);

                                    });

                                </script>
                       #}


                                <div class="modal fade" id="modal-panier{{ produit.produit.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true" >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background: #ED0000;">
                                                <h4 class="modal-title" id="exampleModalLongTitle" style="margin-top: 11px;">{{ "Acheter" | trans }} <i class="fa fa-shopping-cart"></i>
                                                </h4>
                                                <button style="opacity: 1.2;margin-top: -36px;margin-right: -10px;background-color: #ED0000"
                                                        type="button" class=" close" data-dismiss="modal" aria-label="Close">
                                                    <span style="color: #ffffff" aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <h3>{{"quantite_demander_indispo" | trans}}
                                                    {% if app.request.getLocale()  == 'en' %}{{ produit.produit.nomen }}{% else %}{{ produit.produit.nom }}{% endif %} {{"est" | trans}} <span id="idinputtwo{{ produit.produit.id }}">  </span>
                                                </h3>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                {#
                                         <script>
                                    $(document).click(function(event) {
                                        //if you click on anything except the modal itself or the "open modal" link, close the modal
                                        setTimeout(function(){
                                            $('#modal-panier{{ produit.produit.id }}').modal('hide')
                                        }, 14000);

                                    });

                                </script>
                                #}



                            {% endfor %}
                            <!--/.item-->

                            {% endif %}
                        </div>
                        <!-- /.row -->

                    </div>
                    <!--/.container-->


                    <div class="modal fade" id="myModal"
                         role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="background: #ED0000;">
                                    <h2 class="modal-title text-left" id="exampleModalLongTitle" style="margin-top: 5px">

                                    </h2>
                                    <button style="opacity: 1.2;margin-top: -26px;margin-right: -10px;background-color: #ED0000"
                                            type="button" class=" close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span style="color: #ffffff" aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <h3>
                                        {{ "fav_alert" | trans}}
                                    </h3>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>

                </div>

            </div>









    </div>

    <!-- /main container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>

        function addfavnonConnect() {
            $("#myModal").modal({backdrop: true});


        }

        $(document).ready(function() {



            var owl = $("#owl-demo");
            owl.owlCarousel({

                //  itemsDesktop : true,
                //  itemsDesktopSmall : false,
                /// itemsTablet: false,
                // itemsMobile : false,
                startPosition: 0,
                rtl: false,

                items : 4,
                navigation : true,
                loop: false,
                autoplay: true,
                autoplayHoverPause: true,
                navigationText : ['<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse"></i></span>','<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse"></i></span>'],

                itemsDesktop : [1000,4], //5 items between 1000px and 901px
                itemsDesktopSmall : [900,2], // betweem 900px and 601px
                itemsTablet: [600,1], //2 items between 600 and 0
                itemsMobile : [500,1] // itemsMobile disabled - inherit from itemsTablet option

            });

            // Custom Navigation Events
            $(".owl-carousel-arrows .next").click(function() {
                owl.trigger('owl.next');
            });

            $(".owl-carousel-arrows .prev").click(function() {
                owl.trigger('owl.prev');
            });
        });



    </script>

    <script>
        function changeCouleur(id) {
        }

        $('#couleur').on('click', 'li', function () {
            $(this).addClass("selected"); // Assign the class here
            //   var value = $('#couleur').val();
            var value = $(this).attr('value');
            var produit = parseInt($("#idproduit").val());
            $.ajax({
                url: "{{ (path('getSizeCouleur')) }}",
                dataType: 'Json',
                data: {"couleurid": value, "produitid": produit},
                type: 'GET',
                success: function (data) {
                    var nameselect = "sizes" + produit
                    $('select[name=nameselect]').empty();
                    if (data[0]) {
                        student = data[0];
                        $('select[name=nameselect]').append('<option selected value="' + student['id'] + '">' + student['libelle'] + '</option>');

                    }

                    for (i = 1; i < data.length; i++) {
                        student = data[i];
                        $('select[name="sizes').append('<option  value="' + student['id'] + '">' + student['libelle'] + '</option>');
                    }
                    $("select").select2();
                    //	$("#quantitymodal" + produit).val(1);
                }
            });
        });

        function changeImagecouleur(produitid, couleurid, image) {
            if (image) {
                changeImage(image, produitid)
            }
            var produit = parseInt(produitid);
            var couleur = parseInt(couleurid);
            $("#quantitymodal"+produitid).val(1);//rahma addd to

            $.ajax({
                url: "{{ (path('getSizeCouleur')) }}",
                dataType: 'Json',
                data: {"couleurid": couleur, "produitid": produit},
                type: 'GET',
                success: function (data) {
                    var nameselect = "sizes" + produitid
                    $('select[name=' + nameselect + ']').empty();

                    if (data[0]) {
                        size = data[0];
                        $('select[name=' + nameselect + ']').append('<option selected value="' + size['id'] + '">' + size['libelle'] + '</option>');
                    }

                    for (i = 1; i < data.length; i++) {
                        size = data[i];
                        $('select[name=' + nameselect + ']').append('<option  value="' + size['id'] + '">' + size['libelle'] + '</option>');
                    }

                    //	$("#quantitymodal" + produit).val(1);
                }
            });

        }

        function changeImage(image, id) {

            document.getElementById("imageproduit" + id).src = '/uploads/produits/' + image;
            var images = document.getElementsByName("img");
            for (i in images) {
                images[i].style = 'width: 100px;\n' +
                    '    height: 100px;\n' +
                    '    background-size: cover;\n' +
                    '    border-width: 2px;\n' +
                    '    border-color: #dcdbdb;\n' +
                    '    border-style: solid;';
            }
            document.getElementById(image).style = 'width: 100px;\n' +
                '    height: 100px;\n' +
                '    background-size: cover;\n' +
                '    border-width: 2px;\n' +
                '    border-color: #ED0000;\n' +
                '    border-style: solid;';

        }
    </script>
    <script>
        function addArticleSize(id) {

            var selectsizes = document.getElementById("sizes" + id);
            var sizeid = selectsizes.options[selectsizes.selectedIndex].value;
            var qte = parseInt($("#quantitymodal" + id).val());
            $.ajax({
                url: "{{ (path('size_from_id')) }}",
                dataType: 'Json',
                data: {"sizeid": sizeid},
                type: 'GET',
                success: function (data) {
                    var quantite = data
                    // console.log("gggg"+quantite);
                    // console.log("qte "+qte);
                    if (qte > quantite) {
                      //  alert("Vous ne pouvez commander que " +quantite+" produit" )
                        document.getElementById("idinputtwo"+id).innerHTML = quantite;

                       $("document").ready(function () {
                       //was     $('#modal-panier'+id).modal({backdrop: 'static', keyboard: false});
                           $('#modal-panier' + id).modal("show");
                        })
                    } else {
                        addArticlewithsize(id, sizeid, qte);
                        $('#productSetailsModalAjax'+id).modal('hide');

                    }

                }
            });

        }

        function changeSize(id) {
            //$("#quantitymodal" + id).val(1);
        }

        function enabledivquantity(id, quantite, max) {
            var qte = parseInt($("#qte" + id).val());
            if (qte + 1 > quantite) {
              //  alert("Vous ne pouvez commander que " +quantite+" produit" )
                document.getElementById("idinputtwo"+id).innerHTML = quantite;

                $("document").ready(function () {
                  //was  $('#modal-panier'+id).modal({backdrop: 'static', keyboard: false});
                    $('#modal-panier' + id).modal("show");
                })
            } else if (qte + 1 > max) {
                $("document").ready(function () {
                    //$('#modal-quantity-max' + id).modal({backdrop: 'static', keyboard: false});
                    $('#modal-quantity-max' + id).modal("show");

                })
            } else if (qte >= 0) {
                var quantities = document.querySelectorAll("[id=quantite" + id+"]");
                var btncarts = document.querySelectorAll("[id=addcart" + id+"]");
                for(var i = 0; i < btncarts.length; i++){
                    btncarts[i].style.display = "none";
                }
                for(var i = 0; i < quantities.length; i++){
                    quantities[i].style.display = "block";
                }


                addArticle(id, quantite, max);
            }
        }

        function plusquantity(id) {

            var selectsizes = document.getElementById("sizes" + id);
            var sizeid = selectsizes.options[selectsizes.selectedIndex].value;
            var qte = parseInt($("#quantitymodal" + id).val()) +1;
            //alert(qte);

            $.ajax({
                url: "{{ (path('size_from_id')) }}",
                dataType: 'Json',
                data: {"sizeid": sizeid},
                type: 'GET',
                success: function (data) {
                    var quantite = data;
                    var qtee = parseInt($("#quantitymodal" + id).val())+1  ;

                    if (qtee  > quantite) {

                        //  alert("Vous ne pouvez commander que " +quantite+" produit" )
                        document.getElementById("idinputtwo"+id).innerHTML = quantite;

                        $("document").ready(function () {

                          //was  $('#modal-panier' + id).modal({backdrop: 'static', keyboard: false});

                            $('#modal-panier' + id).modal("show");

                        })


                    } else {
                        var qte = parseInt($("#quantitymodal" + id).val()) + 1;
                        var qte_input = document.querySelectorAll("[id=quantitymodal" + id+"]");
                        for(var i = 0; i < qte_input.length; i++){
                            qte_input[i].value = qte;
                        }
                    }

                }
            });
         /*   var qte = parseInt($("#quantitymodal" + id).val()) + 1;
            var qte_input = document.querySelectorAll("[id=quantitymodal" + id+"]");

            for(var i = 0; i < qte_input.length; i++){
                qte_input[i].value = qte;
            }*/

        }

        /*was  function plusquantityD(id,quantite,max) {



              $("#qte" + id).val(0);

              addArticle(id, quantite, max);

          }*/

        function moinsquantity(id) {
            var qte = parseInt($("#quantitymodal" + id).val()) - 1;
            if (qte > 0) {
                $("#quantitymodal" + id).val(qte);

            } else {
                $("document").ready(function () {
                    $('#modal-quantity').modal({backdrop: 'static', keyboard: false});
                })

            }
        }




        <!-- ---- -->

        function plusquantityD(id,quantity,max) {

            var qte = parseInt($("#qte" + id).val()) + 1;

            if(qte  > quantity  ){
               /// alert("Vous ne pouvez commander que " +quantity+" produit" )
                document.getElementById("idinputtwo"+id).innerHTML = quantity;

                   $("document").ready(function () {
                     //was  $('#modal-panier'+id).modal({ backdrop: 'static',keyboard: false       });
                       $('#modal-panier' + id).modal("show");
                   })
            }
            else if (qte > max) {
                $("document").ready(function () {
                  //was  $('#modal-quantity-max'+id).modal({ backdrop: 'static', keyboard: false});

                    $('#modal-quantity-max' + id).modal("show");
                })
            }else {
                //  $("#qte" + id).val(qte);
                var qte_input = document.querySelectorAll("[id=qte" + id+"]");

                for(var i = 0; i < qte_input.length; i++){
                    qte_input[i].value = qte;
                }
            }

        }

        function moinquantityD(id) {

            var qte = parseInt($("#qte" + id).val()) -1;
            //  $("#qte" + id).val(qte);
            var qte_input = document.querySelectorAll("[id=qte" + id+"]");

            if (qte > 0) {
                for(var i = 0; i < qte_input.length; i++){
                    qte_input[i].value = qte;
                }
            } else {
                $("document").ready(function () {
                    $('#modal-quantity').modal({backdrop: 'static', keyboard: false});
                })

            }
        }

        function addArticlee(id, quantity,max) {
            var qte = parseInt(  $("#qte"+id).val());
            var qte_input = document.querySelectorAll("[id=qte" + id+"]");

            console.log("eeeee");
            console.log(qte)


            if(qte  > quantity  ){

               // alert("Vous pouvez commander que " +quantity+" produit" )

                document.getElementById("idinputtwo"+id).innerHTML = quantity;

                $("document").ready(function () {
                 //was   $('#modal-panier'+id).modal({ backdrop: 'static',  keyboard: false         });

                    $('#modal-panier' + id).modal("show");
                    //  $('select').select2();
                })
            }
            else if (qte > max) {
                $("document").ready(function () {
                  //was  $('#modal-quantity-max'+id).modal({ backdrop: 'static',   keyboard: false});

                    $('#modal-quantity-max' + id).modal("show");
                })
            }
            else {


                for(var i = 0; i < qte_input.length; i++){
                    qte_input[i].value = qte ;
                }

                //   alert("qtettee"+qte)

                var $this = $("#addArticlee"+id);
                $.ajax({
                    url: Routing.generate('add_many_quantity_to_cart', {id: id,qte:qte}), success: function (result) {
                        $(".my_nav_bar").html(result);
                        $(".total_price_cart_empty").html($(".total_price_cart").html());
                        $("img.lazy").lazyload({
                            threshold : 50
                        });
                        $(window).load(function(){
                            $("html,body").trigger("scroll");
                        });
                        $this.button('reset');

                        $('#productSetailsModalAjax'+id).modal('hide');
                    }
                });



            }
        }


    </script>
{% endblock body %}
