{% extends '@Backend/layout/layout.html.twig' %}


{% block page %}
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{{ "Ajout Produit"|trans }}</h1>
        </div>
        {% if error is defined %}
        <div class="col-lg-12 text-center">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ "fill_all"|trans({}, 'messages') }}
            </div>
        </div>
        {% endif %}


        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <div class="example-wrap">
                                <div class="row row-lg">


                                    {{ form_start(form, {'attr': {'class': 'col-lg-12 '}}) }}
                                    <input type="hidden" name="referer"
                                           value="{{ app.request.headers.get('referer') }}"/>

                                    {% if  form.categorie is defined %}
                                        <div class="col-lg-12">
                                            <div class="row row-lg">
                                                <div class="col-lg-2 text-left">

                                                </div>
                                                <div class="col-lg-2 text-left">
                                                    <label>{{ "Catégorie"|trans }} <span style="color: #ED0000">*</span>:</label>
                                                </div>
                                                <div class="col-lg-6 text-left">
                                                    {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>

                                        <br><br>
                                    {% endif %}

                                    {% if  form.sous_categorie is defined %}
                                        <div class="col-lg-12">
                                            <div class="row row-lg">
                                                <div class="col-lg-2 text-left">

                                                </div>
                                                <div class="col-lg-2 text-left">
                                                    <label>{{ "Sous Catégorie"|trans }} <span style="color: #ED0000">*</span>:</label>
                                                </div>
                                                <div class="col-lg-6 text-left">
                                                    {{ form_widget(form.sous_categorie, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                    {% endif %}


                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-2 text-left">

                                            </div>
                                            <div class="col-xxl-8 col-lg-8">
                                                <!-- Example Tabs In The Panel -->
                                                <div class="panel nav-tabs-horizontal" data-plugin="tabs">
                                                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                                        <li class="nav-item" id="titleeeone">
                                                            <a class="nav-link active" id="nom_fr"
                                                               style="padding: 7px 10px 7px 0px;" data-toggle="tab"
                                                               href="#nomfr" aria-controls="exampleTopHome" role="tab"
                                                               aria-selected="true">
                                                                {{ "Nom"|trans }}<span style="color: #ED0000">*</span><span class="flag-icon flag-icon-fr"></span>
                                                            </a>

                                                        </li>
                                                        <li class="nav-item" style=""  id="titleee">
                                                            <a class="nav-link" id="nom_en"
                                                               style="padding: 7px 10px 7px 0px;" data-toggle="tab"
                                                               href="#nomen" aria-controls="exampleTopComponents"
                                                               role="tab" aria-selected="false">
                                                                {{ "Nom"|trans }}<span style="color: #ED0000">*</span><span
                                                                        class="flag-icon flag-icon-gb"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="panel-body" style="border: 1px solid #d4d4d4;">
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="nomfr" role="tabpanel">

                                                                <div class="row row-lg">
                                                                    <div class="col-lg-3 ">
                                                                    </div>

                                                                    <div class="col-lg-9 text-left">
                                                                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}


                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="tab-pane" id="nomen" role="tabpanel">
                                                                <div class="row row-lg">
                                                                    <div class="col-lg-3 text-left"
                                                                         style="padding-right: 0px;padding-left: 4px;">
                                                                    </div>
                                                                    <div class="col-lg-9 text-left">
                                                                        {{ form_widget(form.nomen, {'attr': {'class': 'form-control'}}) }}

                                                                    </div>
                                                                </div>


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Example Tabs In The Panel -->
                                            </div>
                                        </div>
                                    </div>


                                    <br><br>


                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-2 text-left">

                                            </div>
                                            <div class="col-xxl-8 col-lg-8">
                                                <!-- Example Tabs In The Panel -->
                                                <div class="panel nav-tabs-horizontal" data-plugin="tabs">
                                                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="description_fr"
                                                               style="padding: 7px 10px 7px 0px;" data-toggle="tab"
                                                               href="#descriptionfr" aria-controls="exampleTopHome"
                                                               role="tab" aria-selected="true">
                                                                {{ "Description"|trans }}<span
                                                                        class="flag-icon flag-icon-fr"></span>
                                                            </a>

                                                        </li>
                                                        <li class="nav-item" style="">
                                                            <a class="nav-link" id="description_en"
                                                               style="padding: 7px 10px 7px 0px;" data-toggle="tab"
                                                               href="#descriptionen"
                                                               aria-controls="exampleTopComponents" role="tab"
                                                               aria-selected="false">
                                                                {{ "Description"|trans }}<span
                                                                        class="flag-icon flag-icon-gb"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="panel-body" style="border: 1px solid #d4d4d4;">
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="descriptionfr"
                                                                 role="tabpanel">

                                                                <div class="row row-lg">
                                                                    <div class="col-lg-3 ">

                                                                    </div>

                                                                    <div class="col-lg-9 text-left">
                                                                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}


                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="tab-pane" id="descriptionen" role="tabpanel">
                                                                <div class="row row-lg">
                                                                    <div class="col-lg-3 text-left"
                                                                         style="padding-right: 0px;padding-left: 4px;">

                                                                    </div>
                                                                    <div class="col-lg-9 text-left">
                                                                        {{ form_widget(form.descriptionen, {'attr': {'class': 'form-control'}}) }}

                                                                    </div>
                                                                </div>


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Example Tabs In The Panel -->
                                            </div>
                                        </div>
                                    </div>


                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-2 text-left">

                                            </div>
                                            <div class="col-lg-2 text-left">
                                                <label>{{ "Image"|trans }}<span style="color: #ED0000">*</span> :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.imagefile, {'attr': {'id': 'input-file-now', 'data-plugin':'dropify','data-default-file': '','style' : 'max-height: 100px;max-width:300px'}}) }}
                                                <h6 style="color: #ED0000">{{ "image"|trans }} ( 400 × 352 px ) {{ "maxsize"|trans }} (1024k)</h6>

                                            </div>
                                        </div>
                                    </div>

                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "Fichetechnique"|trans }}:</label>
                                            </div>
                                   {#
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.file) }}
                                                {% if produit %}<a target="_blank"
                                                                   href="{{ legal_notice_directory }}/{{ produit.file }}">{{ produit.file }}</a>{% endif %}

                                            </div>
                                   #}

                                            <div class="col-lg-6 text-left input-group input-group-file "
                                                 data-plugin="inputGroupFile">

                                                <input type="text" class="form-control" readonly=""
                                                       id="input_cgu_file_upload">


                                                <span class="input-group-btn">
                                                <span class="btn btn-default btn-file waves-effect waves-classic">
                                                 <i class="icon md-upload" aria-hidden="true"></i>

                                                {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                                                    {#
                                                                                                        {{ form_errors(form.file) }}

                                                    #}

                                                    {% if form.file.vars['errors']|length > 0 %}
                                                        {% for error in form.file.vars['errors'] %}
                                                            <span style="color: #F44336">
                                                                            {{ error.message }}
                                                                        </span>
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if produit %}<a target="_blank" href="{{ legal_notice_directory }}/{{ produit.file }}">{{ produit.file }}</a>{% endif %}
                                                  </span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>


                                    <div class="col-lg-12" id="divcouleur" hidden>

                                        {% set i= 0 %}

                                        <div class="row row-lg">
                                            <div class="col-lg-2 text-left">

                                            </div>
                                            <div class="col-lg-2 text-left">
                                                <label>{{ "Couleurs"|trans }} :</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" hidden>
                                        <div class="row row-lg">
                                            <div class="col-lg-4">
                                            </div>
                                            <div class="col-lg-6 " id="divbtnadd" style="margin-top: -33px;">
                                                <button type="button" onclick="adddivcouleur()"
                                                        class="btn btn-success waves-effect waves-classic">
                                                    <i class="icon md-plus"></i> {{ "Ajouter une couleur"|trans }}
                                                </button>
                                                <input type="text" class="form-control" id="couleur" value="-1"
                                                       hidden>                                            </span>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <br><br>
                                <div class="col-lg-12" hidden>
                                    <div class="row row-lg">
                                        <div class="col-lg-2 text-left">

                                        </div>
                                        <div class="col-lg-2 text-left">
                                        </div>

                                        <div class="col-lg-6 text-left">
                                            <div class="checkbox-custom checkbox-primary center-block">
                                                {{ form_widget(form.is_active, {'attr': {'class': 'form-control'}}) }}
                                                <label for="inputChecked">{{ "Est Active"|trans }}?</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br><br>
                                {#
                                   <div class="col-lg-12 text-center">
                                    <button class="float-right btn md-edit social-evernote waves-effect waves-classic waves-effect waves-classic waves-effect waves-classic">{{ 'Enregistrer'|trans }}</button>
                                </div>
                                #}


                                <div class="row col-lg-12 text-center" >
                                    <div class="col-lg-6 text-right">
                                        <button class="btn social-evernote  waves-effect waves-classic" id="save">{{ 'Enregistrer'|trans }}</button>
                                    </div>

                                    <div class="col-lg-6 text-left">
                                        <a href="{{ path('produit_admin_index') }}" style=" background-color: #ed0000 !important;  border-color: #ed0000!important;"  class="btn   btn-danger waves-effect waves-classic">{{ 'back'|trans }}</a>
                                    </div>
                                </div>
                                {{ form_end(form) }}

                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('remark/global/js/Plugin/input-group-file.js') }}"></script>

    {#
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://rawgit.com/select2/select2/master/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://rawgit.com/select2/select2/master/dist/js/select2.js"></script>
    #}
    <script>

        $( "#save").click(function() {

         //   console.log("rererere")
            if ( $("#produit_nom").val().length === 0 )
            {
                $('#titleeeone').find('a').trigger('click');

            }
            if ( $("#produit_nomen").val().length === 0 )
            {
                $('#titleee').find('a').trigger('click');

            }

        });

    </script>




    <script type="text/javascript">
        $("#produit_file").change(function () {
            // alert($("#pays_cgu_file_upload").val());
            content = $("#produit_file").val();
            $('#input_cgu_file_upload').val(content);
        });




    </script >

    <script type="text/javascript" >
        $("document").ready(function () {
            $('#promo_prix').on("click", function () {

                $('#produit_poucentage_promo').val('');
                $('#produit_num_produit_promo').val('');
            })

            $('#promo_pourcentage').on("click", function () {
                $('#produit_prix_promo').val('');
            })

            $("select[name='produit[categorie]']").change(function () {
                var matiereID = $(this).val();
                console.log('matiereID')
                if (matiereID) {
                    $.ajax({
                        url: "{{ path('get_sous_categorie_from_categorie_admin') }}",
                        dataType: 'Json',
                        data: {'categorieid': matiereID},
                        type: 'GET',
                        success: function (data) {
                            $('select[name="produit[sous_categorie]"]').empty();
                            $('select[name="produit[sous_categorie]').append('<option value="" selected hidden>' + 'choisir une sous categorie' + '</option>');

                            for (i = 0; i < data.length; i++) {
                                student = data[i];
                                $('select[name="produit[sous_categorie]').append('<option value="' + student['id'] + '">' + student['nom'] + '</option>');
                            }
                            ;
                            //   $("select").select2();
                        }
                    });


                } else {
                    $('select[name="produit[sous_categorie]"]').empty();
                }
            });

        })

       // $("select").select2();

      /*  (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });

            $("select[name='produit_categorie']").select2();
            $("select[name='produit_sous_categorie']").select2();

        })(document, window, jQuery);*/
    </script>
    <script>
      /*  function updatequantityofsize(id) {
            var quantity = parseInt($("#quantityofsize" + id).val());
            console.log(quantity)
            if (quantity > 0) {
                $.ajax({
                    url: "{{ path('edit_size_admin') }}",
                    dataType: 'Json',
                    data: {'id': id, 'quantite': quantity},
                    type: 'GET',
                    success: function (data) {
                        $("#quantityofsize" + id).val(quantity);
                        alert({{ "la quantité est modifiée avec succes"|trans }})
                    }
                });

            } else {
                alert({{ "la quantité doit ètre"|trans }})
            }
        }*/

        function adddivcouleur() {
            divinitial = document.getElementById('divbtnadd').style.marginTop = "15px";
            divinitial = document.getElementById('divbtnadd').style.paddingLeft = "0px";
            var couleur = parseInt($("#couleur").val()) + 1;
            console.log(couleur)
            const div = document.createElement('div');
            div.className = 'row row-lg';
            div.style = 'padding-top: 10px';
            div.id = 'rowcouleur';
            div.innerHTML =
                '<div class="col-lg-12">' +
                '<div class="row row-lg">' +

                '<div class="col-lg-4 text-left"> ' +
                '<input type="color" class="form-control" name="couleurs[]"> ' +
                '<input type="text" class="form-control" name="couleur' + couleur + '" value="' + couleur + '" hidden>' +
                '</div>' +
                '<div class="col-lg-8 text-left"> ' +
                '<div class="input-group input-group-file" data-plugin="inputGroupFile"> ' +
                '<input type="text" class="form-control" readonly=""> ' +
                '<span class="input-group-btn"> ' +
                '<span class="btn btn-default btn-file waves-effect waves-classic"> ' +
                '<i class="icon md-upload" aria-hidden="true"></i> ' +
                '<input type="file"  accept="image/*" name="images[]"> ' +
                '</span> ' +
                '</span> ' +
                '</div> ' +
                '</div> ' +
                '<div class="col-lg-2 text-left"> </div>' +
                '</div> ' +
                '</div> ';

            const divsize = document.createElement('div');

            divsize.className = 'row row-lg';
            divsize.style = 'padding-top: 10px';
            divsize.id = 'rowsize' + couleur;
            divsize.innerHTML =
                '<div class="col-lg-12">' +
                '<div class="row row-lg">' +
                '<div class="col-lg-4 text-right">' +
                '<input type="text" class="form-control" name="sizes' + couleur + '[]" placeholder="size">' +
                // '<select class="form-control" id="sizes" style="text-align-last: center" name="sizes'+couleur+'[]" > ' +
                //   '{% for key,size in produit.sizeValue %}'+
                //  ' <option value="{{ key }}"  >{{ size }}</option>'+
                //  '  {% endfor %}'+
                //   '  </select>'+
                '  </div>' +
                '  <div class="col-lg-8 text-left">' +
                '  <span class="input-group-btn">' +
                ' <input type="number" class="form-control" name="quantity' + couleur + '[]" value="0">' +
                '<button type="button" style="border-top-left-radius: 0;border-bottom-left-radius: 0;" onclick="adddivsize(' + couleur + ')" class="btn btn-success waves-effect waves-classic">' +
                '<i class="icon md-plus"></i>' +
                '</button>' +
                '   </span>' +
                '  </div>' +
                '  <div class="col-lg-3 text-left">' +
                '   </div>' +
                '   </div>' +
                '   </div>';


            const divrow = document.createElement('div');
            divrow.className = 'row row-lg';
            divrow.style = 'padding-top: 10px';
            divrow.innerHTML =
                '<div class="col-lg-4 text-right"></div>' +
                '<div class="col-lg-6 text-right" style="border: 1px solid #dcdcdc;padding: 15px 15px 15px 15px;" >' +
                div.outerHTML +
                divsize.outerHTML +
                ' </div>';


            document.getElementById('divcouleur').appendChild(divrow);
            $("#couleur").val(couleur)
        }

        function adddivsize(i) {
            var couleur = parseInt($("#couleur").val());
            console.log(couleur)
            const div = document.createElement('div');
            div.className = 'col-lg-12';
            div.style = 'padding-top: 10px';
            div.innerHTML =

                '<div class="row row-lg">' +
                '<div class="col-lg-4 text-right">' +
                '<input type="text" class="form-control" name="sizes' + i + '[]" placeholder="size">' +
                //    '<select class="form-control" id="sizes" style="text-align-last: center" name="sizes'+i+'[]" > ' +
                //    '{% for key,size in produit.sizeValue %}'+
                //   ' <option value="{{ key }}"  >{{ size }}</option>'+
                //   '  {% endfor %}'+
                //   '  </select>'+
                '  </div>' +
                '  <div class="col-lg-8 text-left">' +
                '  <span class="input-group-btn">' +
                ' <input type="number" class="form-control" name="quantity' + i + '[]" value="0">' +
                '   </span>' +
                '  </div>' +
                '  <div class="col-lg-3 text-left">' +
                '   </div>' +
                '   </div>';
            document.getElementById('rowsize' + i).appendChild(div);
        }

    </script>
{% endblock %}
