{% extends '@Backend/layout/layout.html.twig' %}


{% block page %}
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{{"Modification Sous Catégorie"|trans}}</h1>
        </div>
        {% if error is defined %}
            <div class="col-lg-12 text-center">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ "cat_exist"|trans({}, 'messages') }}
                </div>
            </div>
        {% endif %}
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <div class="example-wrap">
                                <div class="row row-lg">


                                    {{ form_start(form, {'attr': {'class': 'col-lg-12 '}}) }}
                                    <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "Nom"|trans }} <span style="color: #ED0000">*</span>  :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">

                                                {% if  pays.frontLanguage  == 'fr' or pays.frontLanguage  == 'FR' %}
                                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}

                                                {% else %}
                                                    {{ form_widget(form.nom_en, {'attr': {'class': 'form-control'}}) }}


                                                {% endif %}


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-2 text-left">

                                            </div>
                                            <div class="col-xxl-8 col-lg-8">

                                                {% if  pays.frontLanguage  == 'fr' or pays.frontLanguage  == 'FR' %}
                                                    <h6 style="color: #ED0000">{{ form_errors(form.nom) }}</h6>

                                                {% else %}
                                                    <h6 style="color: #ED0000">{{ form_errors(form.nom_en) }}</h6>


                                                {% endif %}


                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{"Category"|trans}} <span style="color: #ED0000">*</span>  :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "Image"|trans }}  :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {% if souscategorie.image %}
                                                    <div style="padding-top: 20px;">
                                                        <img class="" style="height: 50px;width: auto;  margin-left: auto;  margin-right: auto;  display: block;"
                                                             src="{{ asset('uploads/produits/') }}{{ souscategorie.image }}"
                                                        >

                                                    </div>
                                                {% endif %}
                                                {{ form_widget(form.imagefile, {'attr': {'id': 'input-file-now', 'data-plugin':'dropify','data-default-file': '','style' : 'max-height: 100px;max-width:300px'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    {#
                                      <div class="col-lg-12 text-center">
                                        <button class="float-right btn md-edit social-evernote waves-effect waves-classic waves-effect waves-classic waves-effect waves-classic">
                                            {{ 'Enregistrer'|trans }}</button>
                                    </div>
                                    #}


                                    <div class="col-lg-12 text-center">

                                        <div class="row">
                                            <div class="col-lg-6 text-right">
                                                <button class="btn md-edit social-evernote  waves-effect waves-classic">{{ 'Enregistrer'|trans }}</button>

                                            </div>
                                            <div class="col-lg-6 text-left">
                                                <a href="{{ path('sous_categorie_index') }}" style=" background-color: #ed0000 !important;  border-color: #ed0000!important;"  class="btn   btn-danger waves-effect waves-classic">{{ 'back'|trans }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}

                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

