{% extends '@Backend/layout/layout.html.twig' %}


{% block page %}
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{{"Modification Gérant"|trans}}</h1>
        </div>
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <div class="example-wrap">
                                <div class="row row-lg">

                                    <div class="col-lg-3 text-right">
                                    </div>
                                    <div class="col-lg-6">
                                        {% for message in app.session.flashBag.get('emailexistant') %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {{ form_start(form, {'attr': {'class': 'col-lg-12 '}}) }}
                                    <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "Nom"|trans }} <span style="color: #ED0000">*</span>:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{"Prénom"|trans}}<span style="color: #ED0000">*</span>:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{"Téléphone"|trans}}<span style="color: #ED0000">*</span>:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{"Téléphone"|trans}} 2:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.telFacultatif, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    {#
                                            <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "username"|trans }} <span style="color: #ED0000">*</span>:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}

                                            </div>
                                        </div>
                                    </div>
                                    #}

                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "email"|trans }} <span style="color: #ED0000">*</span>:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                                <span class="error" style="color: #ed0000">{{ form_errors(form.email) }}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "mot de passe"|trans }} <span style="color: #ED0000">*</span>:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                                <span class="error"> {{"passwordpattern"|trans({}, 'messages') }} </span>

                                                <span class="error" style="color: #ed0000">{{ form_errors(form.plainPassword.first) }}</span>

                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "repeter le mot de passe"|trans }} <span style="color: #ED0000">*</span>:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                                <span class="error" style="color: #ed0000">{{ form_errors(form.plainPassword.second) }}</span>

                                            </div>


                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12 text-center">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "station"|trans }}<span style="color: #ED0000">*</span>:</label>
                                            </div>
                                            <div class="col-lg-3 text-left">
                                                {{ form_widget(form.station, {'attr': {'class': 'form-control'}}) }}

                                            </div>
                                        </div>
                                    </div>
                                <br><br>

                                    <div class="col-lg-12 text-center">

                                        <div class="row">
                                            <div class="col-lg-6 text-right">
                                                <button class="btn md-edit social-evernote  waves-effect waves-classic">{{ 'Enregistrer'|trans }}</button>

                                            </div>
                                            <div class="col-lg-6 text-left">
                                                <a href="{{ path('gerant_index') }}" style=" background-color: #ed0000 !important;  border-color: #ed0000!important;"  class="btn   btn-danger waves-effect waves-classic">{{ 'back'|trans }}</a>
                                            </div>
                                        </div>
                                    </div>



                                    {{ form_end(form) }}

                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

