{% extends '@Backend/layout/layout.html.twig' %}

{% block page %}
    <div class="page">



        <div class="page-header">
            <h1 class="page-title">{{"Gestion Des Sous Catégories"|trans}}</h1>

            <div class="page-header-actions">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="media-body text-center">
                            <h4 class="mt-0 mb-5" style="color: #f02138;margin-bottom: -5px!important;"> {{ nbsouscategories|length }}</h4>
                            <small style="color: #505050;"> {{"Sous Catégories"|trans}} </small>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <a href="{{ path('sous_categorie_admin_new') }}" style="margin-top: 3px;" class="float-right btn btn-sm btn-icon social-evernote waves-effect waves-classic">
                            <i class="icon md-plus" aria-hidden="true"></i> {{ "Ajouter"|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel" >
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr style="border-bottom: 1px solid #f3f3f3;">
                                    <th style="border: none;padding-left: 20px">{{ "Filtre"|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;padding: 0px 20px;">
                                        <form  class="row" style="align-items: center;max-width: 1520px;" action="{{ path('sous_categorie_admin_index') }}" method="get">
                                            <div class="col-lg-4  col-md-4 col-xs-4">
                                                <label class="control-label">{{"Sous Catégorie"|trans}}</label>
                                                <input type="text" class="form-control" name="search" value="{% if search is defined %}{{search}}{% endif %}" placeholder={{ "subCategoryName"|trans }} >

                                            </div>
                                            <div class="col-lg-4  col-md-4 col-xs-4"  style="z-index: 1">
                                                <label class="control-label">{{"Catégorie"|trans}}</label>
                                                <select class="form-control" name="categorie_id" placeholder={{"choisir une catégorie"|trans}}>
                                                    <option value="" disabled selected hidden>{{"choisir une catégorie"|trans}}</option>
                                                    {% if categorie_id == '' %}
                                                        <option class="dropdown-item" value="" role="menuitem" selected>
                                                            {{ "Toutes les categories"|trans }}
                                                        </option>
                                                    {% else %}
                                                        <option class="dropdown-item" value="" role="menuitem" >
                                                            {{ "Toutes les categories"|trans }}
                                                        </option>
                                                    {% endif %}

                                                    {% for categorie in categories %}
                                                        {% if categorie_id is defined   %}
                                                            {% if categorie_id == categorie.id %}
                                                                <option class="dropdown-item" value="{{ categorie.id }}" role="menuitem" selected>

                                                                    {% if app.request.getLocale()  == 'fr' %}
                                                                        {{ categorie.nom }}

                                                                    {% else %}
                                                                        {{ categorie.nom_en }}

                                                                    {% endif %}
                                                                </option>
                                                            {% else %}
                                                                <option class="dropdown-item" value="{{ categorie.id }}" role="menuitem">

                                                                    {% if app.request.getLocale()  == 'fr' %}
                                                                        {{ categorie.nom }}

                                                                    {% else %}
                                                                        {{ categorie.nom_en }}

                                                                    {% endif %}                                                                </option>
                                                            {% endif %}
                                                        {% else %}
                                                            <option class="dropdown-item" value="{{ categorie.id }}" role="menuitem">

                                                                {% if app.request.getLocale()  == 'fr' %}
                                                                    {{ categorie.nom }}

                                                                {% else %}
                                                                    {{ categorie.nom_en }}

                                                                {% endif %}                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div  class="col-lg-4  col-md-4 col-xs-4 text-right">
                                                <button   style="margin-right: 10px;" type="submit" class="btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon icon md-search" aria-hidden="true"></i></button>

                                                <a href="{{ path('ExportSousCategorieAdmin') }}"  class="float-right btn  btn-icon  btn-dark waves-effect waves-classic waves-effect waves-classic">
                                                    <i class="icon md-download" aria-hidden="true"></i> {{ "exporter"|trans }}</a>
                                            </div>
                                        </form>

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>

        <div class="page-content" style="padding-top: 0px " >
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"  style="padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->

                            <table class="table table-striped">
                                <thead>
                                <tr class="">
                                    {#
                                                                        <th style="padding-left: 20px;width: 20%;" hidden>{{ "Image"|trans }}</th>
                                    #}
                                    <th style="width: 30%">{{ "Nom"|trans }}</th>
                                    <th style="width: 30%">{{"Catégorie"|trans}}</th>
                                    <th style="width: 20%">{{"statut"|trans}}</th>
                                    <th class="text-center text-nowrap" style="padding-right: 10px;width: 20%">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for souscategorie in souscategories %}

                                    <tr >
                                        {#
                                            <td style="padding-left: 20px;" hidden>
                                            {% if souscategorie.image %}
                                                <img class="navbar-brand-logo" style="height: 50px;width: auto;" src="{{ asset('uploads/produits/') }}{{ souscategorie.image }}">
                                            {% endif %}
                                        </td>
                                        #}

                                        <td>

                                            {% if app.request.getLocale()  == 'fr' %}
                                                {{ souscategorie.nom }}

                                            {% else %}
                                                {{ souscategorie.nom_en }}

                                            {% endif %}
                                        </td>

                                        <td >

                                            {% if app.request.getLocale()  == 'fr' %}
                                                {{ souscategorie.categorie.nom }}

                                            {% else %}
                                                {{ souscategorie.categorie.nom_en }}

                                            {% endif %}
                                        </td>

                                        <td >

                                            {% if souscategorie.isActive %}
                                                <i class="md-check text-success" style="font-size: 25px;"></i>

                                            {% else %}
                                                <i class="md-close text-danger" style="font-size: 25px;"></i>

                                            {% endif %}
                                        </td>
                                        <td class="text-center"  style="padding-right: 10px;min-width: 130px; vertical-align: middle;">
                                            <a href="{{ path('sous_categorie_admin_edit',{'id':souscategorie.id, 'page': page}) }}" title="{{ "edit"|trans }}"
                                               class="btn btn-pure btn-default  md-edit waves-effect waves-classic "
                                               style="color: #b1b1b1;border: 1px solid;"></a>

                                            {% if souscategorie.isActive %}
                                                <a href="{{ path('sous_categorie_admin_disable',{'id':souscategorie.id, 'page': page}) }}" title="{{ "deactivate"|trans }}"
                                                   class="btn btn-pure btn-default  md-lock "
                                                   style="color: #b1b1b1;border: 1px solid;"></a>
                                            {% else %}
                                                <a href="{{ path('sous_categorie_admin_disable',{'id':souscategorie.id, 'page': page}) }}" title="{{ "activer"|trans }}"
                                                   class="btn btn-pure btn-default  md-lock-open  waves-effect waves-classic "
                                                   style="color: #46bf8c;border: 1px solid;"></a>
                                            {% endif %}





                                            <a data-target="#sous_categorie_admin_disable{{ souscategorie.id }}" data-toggle="modal" title="{{ "delete"|trans }}"
                                               class="btn btn-pure btn-danger  md-delete waves-effect waves-classic"
                                               style="color: #f02038;border: 1px solid;"></a>


                                            <div class="modal fade" style="top: 111px;z-index: 1711;"  id="sous_categorie_admin_disable{{ souscategorie.id }}"   role="dialog">
                                                <div class="modal-dialog modal-simple">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            <h4 class="modal-title" id="sous_categorie_admin_disable{{ souscategorie.id }}">{{ 'conf_delete'|trans }}</h4>
                                                        </div>
                                                        <form action="{{ path('sous_categorie_admin_delete', { 'id': souscategorie.id, 'page': page }) }}" method="get">
                                                            <div class="modal-body">
                                                                <h4 style="text-align:center" >{{ 'msg_conf_delete'|trans }}</h4>
                                                            </div>
                                                            <div class="panel-footer">
                                                                <button style="margin-left: 80%;width: 100px" type="submit"
                                                                        class="pull-right btn btn-block btn-danger">{{ 'label_delete'|trans }}
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation">
                                {{ knp_pagination_render(souscategories) }}
                            </div>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>

    </div>
{% endblock %}
