{% extends '@Backend/layout/layout.html.twig' %}


{% block page %}
    <div class="page">
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <div class="example-wrap">
                                <h4 class="example-title">{{ "Modification Coupon"|trans }} </h4>
                                <br><br>


                                {% if error is defined %}
                                    <div class="col-lg-12 text-center">

                                        {% if   error==1   %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                {{ "captchincorect"|trans({}, 'messages') }}
                                            </div>

                                        {% endif %}
                                    </div>
                                {% endif %}

                                <div class="row row-lg">

                                    {{ form_start(form, {'attr': {'class': 'col-lg-12 '}}) }}
                                    <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "Code"|trans }} <span style="color: #ED0000">*</span> :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.code) }}
                                            </div>
                                        </div>
                                    </div>


                                        <br> <br>
                                        <div class="col-lg-12">
                                            <div class="row row-lg">
                                                <div class="col-lg-3 text-right">
                                                    <label>{{ "Nombre de coupons"|trans }}  <span style="color: #ED0000">*</span> :</label>
                                                </div>

                                                <div class="col-lg-6 text-left">
                                                    {{ form_widget(form.nbrcoupon, {'attr': {'class': 'form-control',}}) }}
                                                    {{ form_errors(form.nbrcoupon) }}
                                                </div>


                                            </div>
                                        </div>

                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "Type"|trans }} <span style="color: #ED0000">*</span>:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.type, {'attr': {'class': 'radio-custom radio-primary'}}) }}
                                                {{ form_errors(form.type, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12"  id="divcoupon_montant">
                                        <br><br>
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "Montant"|trans }} :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.montant, {'attr': {'class': 'form-control','type':'number'}}) }}
                                                {{ form_errors(form.montant, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12" id="divcoupon_pourcentage">
                                        <br><br>
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>{{ "Pourcentage"|trans }} :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.pourcentage, {'attr': {'class': 'form-control','type':'number'}}) }}
                                                {{ form_errors(form.pourcentage, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>

                                    {#
                                          <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                            </div>

                                            <div class="col-lg-6 text-left">
                                                <div class="checkbox-custom checkbox-primary center-block">
                                                    {{ form_widget(form.is_active, {'attr': {'class': 'form-control'}}) }}
                                                    <label for="inputChecked">{{ "Est Active"|trans }}?</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    #}


                                    <br><br>
                                    {#
                                     <div class="col-lg-12 text-center">
                                        <button class="btn social-evernote waves-effect waves-classic">{{ "Enregistrer"|trans }}</button>
                                    </div>
                                    #}
                                    <div class="col-lg-12 "  >
                                        <div class="row">
                                            <div class="col-lg-3">

                                            </div>
                                            <div class="col-lg-9">
                                                <div class="input-group" style="padding-top: 14px;padding-bottom: 5px;">
                                                    <div class="g-recaptcha" data-sitekey="6LedckodAAAAAAE-j3jaEd9gBOEFaaM7xxW3FKN0"></div>
                                                    <script type="text/javascript"
                                                            src="https://www.google.com/recaptcha/api.js?hl=en">
                                                    </script>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <br><br>

                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <button class="btn social-evernote  waves-effect waves-classic">{{ 'Enregistrer'|trans }}</button>
                                        </div>
                                        <div class="col-lg-6 text-left">
                                            <a  href="{{ path('coupon_index') }}"  style=" background-color: #ed0000 !important;  border-color: #ed0000!important;"  class="btn   btn-danger waves-effect waves-classic">{{ 'back'|trans }}</a>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}

                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        //  divcoupon_montant divcoupon_pourcentage
        $('input[type=radio][name="coupon[type]"]').change(function() {
            if (this.value === '1') {
                //   coupon_pourcentage.hide
                // $("#coupon_pourcentage").hide()
                //$("#coupon_montant").show()
                $("#divcoupon_montant").show()
                $("#divcoupon_pourcentage").hide()

            }
            else if (this.value === '2') {
                //coupon_montant.hide
                //  $("#coupon_pourcentage").show()
                // $("#coupon_montant").hide()

                $("#divcoupon_montant").hide()
                $("#divcoupon_pourcentage").show()


            }
        });



        $(document).ready (function()
        {
            ////coupon_pourcentage

            if ($("input[name='coupon[type]']:checked").val()==='1'){
                $("#divcoupon_pourcentage").hide()
            }

            ////coupon_montant
            if ($("input[name='coupon[type]']:checked").val()==='2'){
                $("#divcoupon_montant").hide()
            }

        });


    </script>
{% endblock %}
